{% extends 'base.html' %}
{% load static %}
{% block head %}
<style>
  .card-green {
    border-radius: 5px;
    background: rgb(242, 242, 242, .5);
    border: 1px solid rgb(242, 242, 242);
  }

  .card-shadow-green {
    border-radius: 5px;
    background: rgb(242, 242, 242, .5);
    -webkit-box-shadow: 0 0.46875rem 2.1875rem rgba(28, 202, 167, .03), 0 0.9375rem 1.40625rem rgba(28, 202, 167, .03), 0 0.25rem 0.53125rem rgba(28, 202, 167, .05), 0 0.125rem 0.1875rem rgba(28, 202, 167, .03);
    box-shadow: 0 0.46875rem 2.1875rem rgba(28, 202, 167, .03), 0 0.9375rem 1.40625rem rgba(28, 202, 167, .03), 0 0.25rem 0.53125rem rgba(28, 202, 167, .05), 0 0.125rem 0.1875rem rgba(28, 202, 167, .03);
  }

  .card-shadow-green:hover {
    -webkit-box-shadow: 0 0.8rem 4rem rgba(179, 179, 179, .2), 0 1.8rem 2.8rem rgba(179, 179, 179, .2), 0 0.5rem 1rem rgba(179, 179, 179, .2), 0 0.25rem 0.3rem rgba(179, 179, 179, .2);
    box-shadow: 0 0.8rem 4rem rgba(179, 179, 179, .2), 0 1.8rem 2.8rem rgba(179, 179, 179, .2), 0 0.5rem 1rem rgba(179, 179, 179, .2), 0 0.25rem 0.3rem rgba(28, 202, 167, .2);
  }

  .card-title-content {
    padding: 1.2rem;
  }

  h6 {
    font-size: 18px;
  }

  .card-title-content div {
    font-size: 16px;
  }

  @media (min-width: 767.78px) and (max-width: 991.78px) {
    .intro-card-row .col-md-4 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  @media (max-width: 767.78px) {
    .intro-card-row .col-md-4 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  header.masthead {
    background-image: url("../static/img/hakkimizdafoto.png");
  }

  .check-mark {
    background-image: url("../static/img/check.png");
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    border: 5px solid #fff !important;
  }

  .container-fluid-img {
    display: block;
    position: relative;
  }

  .container-fluid-img::after {
    content: "";
    background-image: url("../static/img/IMG_1848.JPG");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    opacity: 0.13;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

  .container-fluid-img strong {
    color: #034080;
  }
</style>
{% endblock %}

{% block body %}
<section class="page-section" id="about">
  <div class="container">
    <h4 class="text-center mb-3">Hakkımızda</h4>
    <div class="mb-4">
      <h6 class="mb-2" style="color: #e45769;">Biz Kimiz?</h6>
      <div>
        Köylerde eğitimin kalitesini arttırmak için bir araya gelmiş öğretmenler ve gönüllüler topluluğuyuz. Köy
        Okulları Değişim Ağı (KODA) fikri, çoğu zaman yoksunluklarıyla gündeme gelen köy okullarının, aslında
        hayalimizdeki eğitim için büyük fırsatlar sunabileceği inancıyla ortaya çıktı. İlk saha çalışmalarına 2015
        yılında başladığımız KODA'da, 2016 yılının Aralık ayında dernek olduk. Türkiye’nin dört bir yanındaki köylerde
        çalışan idealist öğretmenler, eşit eğitimin gücüne inanan eğitmenler, değişime inancı tam eğitim gönüllüleri
        olarak bir araya geldik. Yola çıktık, bu yolun adını da KODA koyduk.
      </div>
    </div>
    <div class="mb-4">
      <h6 class="mb-2" style="color: #034080;">Neden Varız?</h6>
      <div>
        Köylerde, çocuktan başlayarak tüm topluluğa yayılacak ve kırsal kalkınmayı destekleyecek yenilikçi bir eğitim
        anlayışını hayata geçirmek için.
      </div>
    </div>
    <div class="mb-4">
      <h6 class="mb-2" style="color: #199b78;">Neler Yapıyoruz?</h6>
      <div class="mb-2">
        <div class="mb-1"><strong>1- Araştırma-Geliştirme:</strong></div>
        <div class="mb-1">
          <i class="fas fa-angle-right mr-2" style="color: #fab537;"></i>Kırsal bölgelerdeki çocuklar, gençlere yönelik
          yerel koşullara uygun, gelişimsel ihtiyaçlara cevap veren eği̇ti̇m içerikleri ve araçlar üretiyoruz.
        </div>
        <div class="mb-1">
          <i class="fas fa-angle-right mr-2" style="color: #fab537;"></i>Ailelere yönelik eğitsel içerikler üretiyoruz.
        </div>
        <div class="mb-1">
          <i class="fas fa-angle-right mr-2" style="color: #fab537;"></i>Birleştirilmiş sınıflı köy okulları için,
          uygulama esaslı içerikler geliştirerek yayınlıyoruz.
        </div>
        <div>
          <i class="fas fa-angle-right mr-2" style="color: #fab537;"></i>Köy okullarında eğitime dair örnek uygulamaları
          ve uzman görüşlerini dokümante ederek öğretmenlerle paylaşıyoruz.
        </div>
        <div class="mb-2">
          <div class="mb-1"><strong>2- Öğretmenleri Güçlendirme: </strong></div>
          <div class="mb-1">
            <i class="fas fa-angle-right mr-2" style="color: #fab537;"></i>Köy öğretmenlerinin ihtiyaçlarına yönelik
            öğretmen eğitimleri düzenliyoruz.
          </div>
          <div class="mb-1">
            <i class="fas fa-angle-right mr-2" style="color: #fab537;"></i>Yeni atanan köy öğretmenlerine oryantasyon
            eğitimleri uyguluyoruz.
          </div>
          <div class="mb-1">
            <i class="fas fa-angle-right mr-2" style="color: #fab537;"></i>Yakın köylerde görev yapan öğretmenleri
            düzenli olarak bir araya getiriyoruz ve birbirlerine destek olmalarını sağlıyoruz.
          </div>
          <div>
            <i class="fas fa-angle-right mr-2" style="color: #fab537;"></i>Eğitim fakültesindeki öğretmen adaylarını,
            köy okullarındaki öğretmenlik süreçlerine hazırlıyoruz.
          </div>
        </div>
        <div class="mb-2">
          <div class="mb-1"><strong>3- Gönüllü Toplulukları: </strong></div>
          <div class="mb-1">
            <i class="fas fa-angle-right mr-2" style="color: #fab537;"></i>Çocuklar ve ailelere doğrudan erişebilecek
            gönüllüleri bularak ve güçlendiriyor; KODA’nın eğitim anlayışını, ürettiği içerik ve araçları onlar
            aracılığıyla yaygınlaştırıyoruz.
          </div>
          <div class="mb-1">
            <i class="fas fa-angle-right mr-2" style="color: #fab537;"></i>Ailelerin yönelik eği̇ti̇m programları
            yürütüyoruz.
          </div>
          <div>
            <i class="fas fa-angle-right mr-2" style="color: #fab537;"></i>Her yıl; köy halkı, çocuklar, KODA
            öğretmenleri ve gönüllüler ile birlikte bir köy şenliği düzenliyoruz.
          </div>
        </div>
        <div>
          <div class="mb-1"><strong>4- İletişim ve Savunuculuk: </strong></div>
          <div>
            <i class="fas fa-angle-right mr-2" style="color: #fab537;"></i>KODA’nın eğitim anlayışını yaygınlaştırmak ve
            kırsalda eğitime bakış açısını dönüştürmeye yönelik yönelik iletişim faaliyetleri ve farklı aktörlerle
            buluşmalar gerçekleştiriyoruz.
          </div>
        </div>
      </div>
      <div class="mb-4">
        <h6 class="mb-3" style="color: #e45769;">Hedeflerimiz</h6>
        <div class="text-left">
          <div class="mb-1">
            <img src="../static/img/check.png" alt="" width="30px" height="30px" class="mr-2">
            Köylerdeki fırsatları değerlendirerek - fakat sorunları da görmezden gelmeden eğitimin kalitesini artıracak çocuk merkezli, yenilikçi örnek uygulamaları ortaya çıkarmak ve yaygınlaştırmak.
kırsal kalkınmayı da destekleyecek yenilikçi bir eği̇ti̇m anlayışını hayat geçirmek.

          </div>
          <div class="mb-1">
            <img src="../static/img/check.png" alt="" width="30px" height="30px" class="mr-2">
            Bir köy için öğretmenden daha fazlası olan köy öğretmenlerinin ve öğretmen adaylarının eği̇ti̇m anlayışı, kişisel ve mesleki becerileri bakımından güçlenmesini sağlamak.
          </div>
          <div class="mb-1">
            <img src="../static/img/check.png" alt="" width="30px" height="30px" class="mr-2">
            Kendi yaşadıkları yerde / yere yakın bölgelerde değişime öncülük edebilecek, birbirine ilham veren, destek olarak büyüyen ve düzenli bir şekilde eğitime katkıda bulunmak isteyen gönüllü topluluklarının oluşturulmasına öncülük etmek.
          </div>
          <div class="mb-1">
            <img src="../static/img/check.png" alt="" width="30px" height="30px" class="mr-2">
            Kırsal bölgelerdeki ailelerin çocuklarının eğitiminde sorumluluk almaları ve bu konuda gönüllü olarak sürekli destek sunmaları.
          </div>
        </div>
      </div>
      <div class="mb-4">
        <h6 class="mb-3">KODA Saha Araştırma Raporu “Öğretmen Gözünden Köy Okulları ve Köy Öğrencileri”</h6>
        <div class="mb-3">
          KODA olarak 2015 yılında köy öğretmenleri ile yaptığımız görüşmeler, anketler ve çalışmalar ile yolculuğumuza başladık. İlk saha araştırmalarımız neticesinde de aşağıdaki başlıktan ulaşabileceğiniz KODA Saha Araştırma Raporu “Öğretmen Gözünden Köy Okulları ve Köy Öğrencileri” raporunu hazırladık. Yaptığımız saha araştırmaları verilerini kapsayan bu rapor; yürüttüğümüz çalışmaların, somut ihtiyaçlara yanıt olabilmesi arzusundan doğmuştur. KODA bu araştırma ile yolculuğumuzun çıkış noktasındaki önceliğin; öğretmenlere ve onların kişisel ve mesleki değerlendirmelerine verilmesini amaçlamıştır. Katkı olmasını dileriz.
        </div>
        <a href="{% static 'ogretmen_gozunden.pdf' %}"
          style="color:#199b78 !important; font-weight: bold;text-decoration: none;" target="_blank">
          <i class="fas fa-file-pdf fa-2x mr-2"></i>
          <label style="cursor: pointer;">Öğretmen Gözünden Köy Okulları ve Köy Öğrencileri:
            Avantajlar, Problemler ve Çözüm Önerileri </label></a>
      </div>
    </div>


</section>

{% endblock %}