{% extends 'base.html' %}
{% load static %}

{% block title %} Bağış Yap {% endblock %}

{% block head %}

{% endblock %}

{% block body %}
<section class="page-section">
  <div class="container">
    <h4 class="text-center mb-4">Bağış Yap</h4>
    <div class="mb-4">
      <div class="mb-2">
        Köy okulunda okuyan bir çocuğun eği̇ti̇m yolculuğunu güçlendirmek, çocuğun içinde bulunduğu ekosistemin tüm paydaşlarını güçlendirmekten geçiyor. Biz KODA olarak biliyoruz ki kırsalda eğitimin niteliğinin artırılması kırın da kentin de sürdürülebilir bir biçimde kalkınabilmesi ve herkese insanca yaşam olanaklarının sağlanabilmesi için çok önemli.
      </div>
      <div>
        Sen de bu büyük değişimin bir parçası olmak için KODA’ya bağışta bulun. Bu yolculukta senden gelecek en ufak bir katkı bile çok kıymetli, haydi etkimizi birlikte büyütelim!
      </div>
    </div>
    <div class="mb-3">
      <a href="https://fonzip.com/kodegisim/bagis#/" class="font-weight-bold"
        style="color:#034080;">https://fonzip.com/kodegisim/bagis#/</a>
    </div>
</section>

{% endblock %}