{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}

{% block body %}

<section class="page-section">
   <div class="container">
      <h4 class="text-center mb-5">Nasıl Destek Olabilirsiniz?</h4>
      <div class="mt-5">
         <div class="mb-3">
            <h5>Bağış</h5>
            Akbank Hesap Numaraları ile Bağış Yapmak için: <br>
            TL: TR720004600020888000430464 <br>
            Euro: TR500004600020036000435966 <br>
            Dolar: TR030004600020001000435965 <br>
            Önemli not: EFT yaparken alıcı kısmına "Köy Okulları Değişim Ağı Derneği" yazınız. <br>
            KODA gibi kısaltmalar kullanmanız durumunda EFT talimatı banka tarafından geri çevrilmektedir.
         </div>
         <div class="mb-3">

            <h6>Kredi Kartı ile Bağış Yapmak İçin:</h6>
            <div class="mb-2">
               Banka kartınızla tek seferlik veya düzenli bağış yapmak isterseniz, ödemelerinizi
               Fonzip'in güvenli ödeme platformunda yer alan KODA sayfasından yapabilirsiniz:
            </div>
            <a href="https://fonzip.com/kodegisim/bagis#/" class="font-weight-bold"
               style="color:#034080;">https://fonzip.com/kodegisim/bagis#/</a>
         </div>
         <div class="mb-3">
            <span>
               <h6 class="mb-2">Bkm Express ile Bağış Yapmak İçin: <a href="https://bkmexpress.com.tr/bagis/"
                     class="font-weight-bold ml-2" style="color:#034080;">https://bkmexpress.com.tr/bagis/</a></h6>
            </span>
         </div>
         <div class="mb-3">
            <span>
               <h6 class="mb-2">Bağışçı Hakları Beyannamesi’ni görüntülemek için <a
                     href="https://bf1bc20e-7532-42dc-9f53-412a282c3145.filesusr.com/ugd/7314dd_8210f1f21b954bab89da6bec0cd940f3.pdf"
                     style="color:#034080;"><u> tıklayınız.</u></a></h6>
            </span>
         </div>

      </div>

</section>


{% endblock %}