{% extends 'base.html' %}
{% load static %}

{% block title %} Bize katılın {% endblock %}

{% block head %}
{% endblock %}

{% block body %}




<section class="page-section">
        <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
           <h2 style="font-family:Hind;color:#034080 !important;">Bize Katılmak İster Misiniz ?  </h2><br>
​
            <a style="color:#034080;" href="https://docs.google.com/forms/d/e/1FAIpQLSetzMePJwlEmW8vdHDeJpXlIEF3iDhNI0CsaG8941yTBhQj-g/viewform">Genel Başvuru</a>




<br>

  </section>


{% endblock %}