{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}

{% block body %}
<section class="page-section" id="about">
    <div class="container">
        <h4 class="text-center mb-3">COVID-19 Bilgi ve İletişim Ağı</h4>
        <div class="mb-4">
            <b class="mr-2" style="font-size: 20px;color:#034080;">Neden?</b>
            Dünya genelinde etkisini gösteren Covid-19 pandemisi ile birlikte, Türkiye’de birçok alanda değişimler
            yaşandı. Eğitim alanı da pandemiden yoğun şekilde etkilenen alanlardan biri oldu. Eğitim alanında yaşanan
            değişimlerle birlikte biz de KODA olarak, faaliyetlerimizi hızlı bir biçimde uzaktan çalışma yöntemlerine
            uyarladık. Çevrim içi ortama taşıdığımız saha faaliyetlerimizin yanında, aynı zamanda uzaktan eğitim
            sürecinde kırsalda yaşanan sorunları tespit etmek ve bu sorunlara çözümler geliştirmek amacıyla KODA Çözüm
            Masası’nı kurduk. Çözüm Masası’nda yaptığımız çalışmalar ile Türkiye'nin kırsal bölgelerinden 400 öğretmene
            ve 8.000'den fazla öğrenciye ulaştık.
            <div class="my-2">
                Pandeminin ilk günlerinden itibaren başlayan Çözüm Masası deneyimi bize, öğretmenler kadar köydeki diğer
                paydaşların da önemini yeniden gösterdi. Kırsal bölgelerde yaşayanlarla doğrudan kurulan tüm
                bağlantıların, pandemi sürecinde başta çocuklar olmak üzere tüm toplumu korumak için gerekli olduğunu
                yine bu süreçte daha iyi anladık.
            </div>
            <div>
                Türkiye genelindeki ilkokul öğrencilerinin yaklaşık yüzde 30’unun uzaktan eğitim sürecinde çeşitli
                zorluklar yaşadığını ve önemli bir kısmının uzaktan eğitim imkanlarına erişemediğini biliyoruz.
            </div>
        </div>
        <div class="mb-4">
            <b class="mr-2" style="font-size: 20px;color:#00926e ;">Nasıl?</b>
            Covid-19 Bilgi ve İletişim Ağı Projesi’nde yapacağımız ana faaliyetimiz, kırsalda yaşayan 3000 mahalle ve
            köy muhtarına tek tek telefon görüşmeleri ve davetiyeler yoluyla ulaşmak olacak.
        </div>
        <div class="mb-4">
            <div class="mb-2">
                <b class="mr-2" style="font-size: 20px;color:#e45769 ;">Neler yapıyoruz?</b>

            </div>

            <ul class="mb-2 mt-2">
                <li>Köylerdeki muhtarlar ve aileler başta olmak üzere tüm paydaşları eği̇ti̇m, halk sağlığı ve kırsal
                    kalkınma meselelerinde işin içine katan bir ağ kuruyoruz.</li>
                <li>Bu ağ sayesinde başta eği̇ti̇m olmak üzere pandemiyle bağlantılı tüm konularda doğrudan yerel kaynak
                    ve paydaşlar ile ihtiyaç tespitleri yapıyoruz.</li>
                <li>Edindiğimiz bilgiler ve tespit ettiğimiz ihtiyaçlar doğrultusunda çalışmalarımızı planlıyoruz.</li>
                <li>Kırsal bölgelerdeki yetişkinlere COVID-19, uzaktan eği̇ti̇m ve bu süreçte çocukların gelişimlerini
                    desteklemeye dair neler yapılabileceğine yönelik bilgilendirici içerikler ulaştırıyoruz. (Tüm
                    içeriklerimizi deneyimli köy öğretmenleri, gönüllü eğitmenlerimiz ve benzer alanlarda çalışan
                    kurumlar ile birlikte üretiyoruz.)</li>
                <li>
                    Kırsal bölgelerdeki çocukların salgın ve alınması gereken önlemler hakkında doğru bilgiye
                    ulaşmalarını sağlıyoruz.
                </li>
                <li>
                    Okula dönüş ve uzaktan eğitime devam edilmesi gibi senaryolara uygun şekilde her çocuğun nitelikli
                    eği̇ti̇m hakkına erişebilmesini sağlamak için hem çocukları hem de yetişkinleri destekliyoruz.
                </li>
                <li>
                    Yerel ve merkez arasında köprü kurarak kırsalda eğitimin paydaşları arasındaki etkileşimi
                    güçlendiriyoruz.
                </li>
                <li>
                    Kırsal bölgelerde pandemi ve doğal afet gibi durumlarda aksiyon almaya yönelik dayanıklı bir ağ
                    yapısı oluşturmayı hedefliyoruz.
                </li>
                <li>
                    Bu ağ sayesinde KODA’nın eği̇ti̇m anlayışını, ürettiği içerikleri ve faaliyetleri yerelde
                    kökleştirerek yaygınlaştırmayı amaçlıyoruz.
                </li>
            </ul>
        </div>

    </div>
</section>

{% endblock %}