{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}

{% block body %}
<section class="page-section">
  <div class="container">
    <h4 class="text-center mb-4">Destekçilerimiz</h4>
    <div class="mb-4">
      KODA olarak yola çıktığımız günden bu yana çeşitli fon, hibe, kurumsal bağış ve bireysel bağışlar sayesinde faaliyetlerimizi gerçekleştirmeye devam ediyoruz. Tüm dönemler için bizi destekleyen bağışçılarımız ve iş birliklerimizi aşağıda paylaşıyoruz. 
    </div>
</section>

{% endblock %}