
{% extends 'base.html' %}
{% load static %}
{% block head %}

{% endblock %}

{% block body %}
<section class="page-section">
    <div class="container">
        <div class="mb-5">
            <h4 class="text-center">Köylerde Uzaktan Eğitim ve Covid-19 Süreci</h4>
            <h6 class="text-center mb-4">Kamuya Yönelik</h6>
        </div>
        <div class="row intro-card-row">
            {% for x in context %}
            <div class="col-md-4 mb-4">
                <div class="card-shadow-green text-center h-100">
                    <div class="card-img-content text-center py-4"
                        style="background-image: url('/media/{{ x.header_image }}');">
                    </div>
                    <div class="card-title-content">
                        <h6>{{x.title|safe}}</h6>
                        <div class="mb-3">
                            {{x.header_content|safe}}
                        </div>
                        <a class="py-1 px-2 link" href="{% url 'etkinlik_onerileri_detay' x.id %}">
                            <span class="text">İncelemek için tıklayabilirsiniz!</span>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</section>


{% endblock %}