{% extends 'base.html' %}
{% load static %}

{% block title %} Galeri {% endblock %}

{% block head %}
{% endblock %}

{% block body %}
<div class="container">
<div class="row">
  <div class="col-md-12">

      <div class="row">

          <div class="col-sm-4">
          <div class="team-member">
          <img alt="picture" src="/static/img/galeri/1.jpg" class="img-fluid">
          </div>
          </div>
                    <div class="col-sm-4">
          <div class="team-member">
          <img alt="picture" src="/static/img/galeri/2.jpg" class="img-fluid">
          </div>
        </div>
                    <div class="col-sm-4">
          <div class="team-member">
          <img alt="picture" src="/static/img/galeri/3.jpg" class="img-fluid">
          </div>
        </div>
                    <div class="col-sm-4">
          <div class="team-member">
          <img alt="picture" src="/static/img/galeri/4.jpg" class="img-fluid">
          </div>
        </div>
                    <div class="col-sm-4">
          <div class="team-member">
          <img alt="picture" src="/static/img/galeri/5.jpg" class="img-fluid">
          </div>
        </div>
                    <div class="col-sm-4">
          <div class="team-member">
          <img alt="picture" src="/static/img/galeri/6.jpg" class="img-fluid">
          </div>
        </div>
                    <div class="col-sm-4">
          <div class="team-member">
          <img alt="picture" src="/static/img/galeri/7.jpg" class="img-fluid">
          </div>
        </div>
                    <div class="col-sm-4">
          <div class="team-member">
          <img alt="picture" src="/static/img/galeri/8.jpg" class="img-fluid">
          </div>
        </div>
                    <div class="col-sm-4">
          <div class="team-member">
          <img alt="picture" src="/static/img/galeri/9.jpg" class="img-fluid">
          </div>
        </div>
                    <div class="col-sm-4">
          <div class="team-member">
          <img alt="picture" src="/static/img/galeri/10.jpg" class="img-fluid">
          </div>
        </div>
                    <div class="col-sm-4">
          <div class="team-member">
          <img alt="picture" src="/static/img/galeri/11.jpg" class="img-fluid">
          </div>
        </div>
                    <div class="col-sm-4">
          <div class="team-member">
          <img alt="picture" src="/static/img/galeri/12.jpg" class="img-fluid">
          </div>
        </div>
                    <div class="col-sm-4">
          <div class="team-member">
          <img alt="picture" src="/static/img/galeri/13.jpg" class="img-fluid">
          </div>
        </div>
                    <div class="col-sm-4">
          <div class="team-member">
          <img alt="picture" src="/static/img/galeri/14.jpg" class="img-fluid">
          </div>
        </div>
                    <div class="col-sm-4">
          <div class="team-member">
          <img alt="picture" src="/static/img/galeri/15.jpg" class="img-fluid">
          </div>
        </div>
                    <div class="col-sm-4">
          <div class="team-member">
          <img alt="picture" src="/static/img/galeri/16.jpg" class="img-fluid">
          </div>
        </div>

          <div class="col-sm-4">
          <div class="team-member">
          <img alt="picture" src="/static/img/galeri/17.jpg" class="img-fluid">
          </div>
        </div>



{% endblock %}
