{% extends 'base.html' %}
{% load static %}

{% block title %} KODA Gönüllüsü Olmak İstiyorum {% endblock %}

{% block head %}
{% endblock %}

{% block body %}

<section class="page-section">
    <div class="container">
          <h2 style="font-family:Hind;color:#034080 !important;text-align:center;">KODA Gönüllüsü Olmak İstiyorum</h2>
      <br><br>



               <p style="font-family:montserrat;color:#034080 !important;text-align:center;">
      KODA'nın kurulduğu günden bu yana bizlerle birlikte olan, bize gerek saha, gerekse ofis faaliyetlerimizde çokça desteği ve katkısı dokunmuş o kadar çok isim var ki… Onların desteğini her zaman yanımızda hissediyoruz ve bu bize çok daha fazla cesaret ve güç veriyor.


                 <br>2019-2020 yılı faaliyetlerimizde bize destek olmak üzere birlikte yol alacağımız gönüllülerimiz belli oldu. İlginize çok teşekkür ediyoruz.

                 <br>Bir sonraki yılın gereksinimlerini, 2020 Temmuz ayında yeniden değerlendirerek, bu sayfadan ve sosyal medya kanallarımızdan duyuracağız.  O zamana kadar bilgilerinizin kayıt altında bulunmasını isterseniz  aşağıdaki formu doldurabilirsiniz.
                 <br><br>
                 <label style="font-size:20px;"><i> <a href="https://forms.gle/1umCWCBj39J7vMQV8" style="color:#034080;">https://forms.gle/1umCWCBj39J7vMQV8</a></i></label>


               </p>




      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Contact Section Form -->
     <!-- <div class="row">
        <div class="col-lg-8 mx-auto"  style="color:#452b6a !important;font-family:Hind;" >
          <!--
          <form method="post" class="lang" key="form">
            {% csrf_token %}
            {{form.as_p}}
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-xl lang" id="sendMessageButton" key="sendbutton" style="background-color: #034080;color:white;font-family:hind;">Send</button>
            </div>
          </form>
        </div>--!>
      </div>

    </div>
  </section>

{% endblock %}
