{% extends 'base.html' %}
{% load static %}
{% block head %}

<style>
    .card-shadow-green {
        border-radius: 5px;
        -webkit-box-shadow: 0 0.46875rem 2.1875rem rgba(28, 202, 167, .03), 0 0.9375rem 1.40625rem rgba(28, 202, 167, .03), 0 0.25rem 0.53125rem rgba(28, 202, 167, .05), 0 0.125rem 0.1875rem rgba(28, 202, 167, .03);
        box-shadow: 0 0.46875rem 2.1875rem rgba(28, 202, 167, .03), 0 0.9375rem 1.40625rem rgba(28, 202, 167, .03), 0 0.25rem 0.53125rem rgba(28, 202, 167, .05), 0 0.125rem 0.1875rem rgba(28, 202, 167, .03);
        max-width: 320px;
    }

    .card-shadow-green:hover {
        -webkit-box-shadow: 0 0.8rem 4rem rgba(179, 179, 179, .2), 0 1.8rem 2.8rem rgba(179, 179, 179, .2), 0 0.5rem 1rem rgba(179, 179, 179, .2), 0 0.25rem 0.3rem rgba(179, 179, 179, .2);
        box-shadow: 0 0.8rem 4rem rgba(179, 179, 179, .2), 0 1.8rem 2.8rem rgba(179, 179, 179, .2), 0 0.5rem 1rem rgba(179, 179, 179, .2), 0 0.25rem 0.3rem rgba(28, 202, 167, .2);
    }

    @media (min-width: 767.78px) and (max-width: 991.78px) {
        .intro-card-row .col-md-3 {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    @media (max-width: 767.78px) {
        .intro-card-row .col-md-3 {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
</style>

{% endblock %}

{% block body %}

<section class="page-section">
    <div class="container">
        <div class="text-center mb-5">
            <h4 class="mb-3">İl Milli Eğitim Müdürlükleri Kaynakları</h4>
        </div>
        <div class="row intro-card-row">
            {% for x in context %}
            <div class="col-md-4 mb-4">
                {{x.content|safe}}
            </div>

            {% endfor %}

        </div>

    </div>
</section>



{% endblock %}