{% extends 'base.html' %}
{% load static %}
{% block title %} KODA Raporları {% endblock %}
{% block head %}
<style>
  .card-shadow-green {
    border-radius: 5px;
    background: rgb(242, 242, 242, .5);
    -webkit-box-shadow: 0 0.46875rem 2.1875rem rgba(28, 202, 167, .03), 0 0.9375rem 1.40625rem rgba(28, 202, 167, .03), 0 0.25rem 0.53125rem rgba(28, 202, 167, .05), 0 0.125rem 0.1875rem rgba(28, 202, 167, .03);
    box-shadow: 0 0.46875rem 2.1875rem rgba(28, 202, 167, .03), 0 0.9375rem 1.40625rem rgba(28, 202, 167, .03), 0 0.25rem 0.53125rem rgba(28, 202, 167, .05), 0 0.125rem 0.1875rem rgba(28, 202, 167, .03);
  }

  .card-shadow-green:hover {
    -webkit-box-shadow: 0 0.8rem 4rem rgba(179, 179, 179, .2), 0 1.8rem 2.8rem rgba(179, 179, 179, .2), 0 0.5rem 1rem rgba(179, 179, 179, .2), 0 0.25rem 0.3rem rgba(179, 179, 179, .2);
    box-shadow: 0 0.8rem 4rem rgba(179, 179, 179, .2), 0 1.8rem 2.8rem rgba(179, 179, 179, .2), 0 0.5rem 1rem rgba(179, 179, 179, .2), 0 0.25rem 0.3rem rgba(28, 202, 167, .2);
  }

  .card-title-content,
  .card-body-content {
    padding: 1.2rem;
  }

  .card-title-content h6 {
    font-size: 18px;
    color: white;
  }

  .card-body-content div {
    font-size: 16px;
  }

  .card-body-content i {
    color: #fab537;
  }

  .card-body-content a {
    color: #404040;
  }
</style>
{% endblock %}

{% block body %}

<section class="page-section">
  <div class="container">
    <!-- <h4 class="mb-5 text-center">Mali Raporlar</h4> -->
    <div class="row intro-card-row">
      <div class="col-md-12 mb-4">
        <div class="card-shadow-green h-100">
          <div class="card-title-content" style="background-color:#00926e; ">
            <h6 class="mb-0">Stratejik Plan</h6>
          </div>
          <div class="card-body-content" style="line-height: 2;">
            <div>
              {% for x in stratejik %}
                <i class="fas fa-angle-right mr-2"></i><a href="/media/{{x.pdf}}"
                  target="_blank"> {{x.title}} </a>
                <br>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 mb-4">
        <div class="card-shadow-green h-100">
          <div class="card-title-content" style="background-color:#e45769; ">
            <h6 class="mb-0">Bağımsız Denetim Raporları</h6>
          </div>
          <div class="card-body-content" style="line-height: 2;">
            <div>
              {% for x in bagimsiz_denetim %}
                <i class="fas fa-angle-right mr-2"></i><a href="/media/{{x.pdf}}"
                  target="_blank"> {{x.title}} </a>
                <br>
              {% endfor %}
            </div>
            <!-- <div>
              <i class="fas fa-angle-right mr-2"></i><a href="{% static 'koda_gelir_gider_2017.pdf' %}" target="_blank">
                2017 yılı gelir- gider raporu </a>
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-md-12 mb-4">
        <div class="card-shadow-green h-100">
          <div class="card-title-content" style="background-color:#034080; ">
            <h6 class="mb-0">İç Denetim Raporları</h6>
          </div>
          <div class="card-body-content" style="line-height: 2;">
            <div>
              {% for x in ic_denetim %}
                <i class="fas fa-angle-right mr-2"></i><a href="/media/{{x.pdf}}"
                  target="_blank"> {{x.title}} </a>
                <br>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 mb-4">
        <div class="card-shadow-green h-100">
          <div class="card-title-content" style="background-color:#00926e; ">
            <h6 class="mb-0">Gelir- Gider Tabloları</h6>
          </div>
          <div class="card-body-content" style="line-height: 2;">
            <div>
              {% for x in gelir_gider %}
                <i class="fas fa-angle-right mr-2"></i><a href="/media/{{x.pdf}}"
                  target="_blank"> {{x.title}} </a>
                <br>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    
      
      <div class="col-md-12 mb-4">
        <div class="card-shadow-green h-100">
          <div class="card-title-content" style="background-color:#e45769; ">
            <h6 class="mb-0">Beyannameler</h6>
          </div>
          <div class="card-body-content" style="line-height: 2;">
            <!-- <div class="mb-3">
              Öğretmen Gözünden Köy Okulları ve Köy Öğrencileri
              KODA olarak hazırladığımız bu rapor; yürüttüğümüz çalışmaların, somut ihtiyaçlara yanıt olabilmesi
              arzusundan doğmuştur. Rapor; 2016 yılında yapılan saha araştırma verilerini kapsamaktadır. KODA bu
              araştırma ile önceliğin; öğretmenlere ve onların kişisel ve mesleki değerlendirmelerine verilmesini
              amaçlamıştır. Katkı olmasını dileriz..
            </div> -->
            <!-- <div>
              <i class="fas fa-angle-right mr-2"></i><a href="{% static 'problemler_ve_cozum_onerileri.pdf' %}"
                target="_blank"> Saha Araştırma Raporu </a>
            </div>
            <div>
              <i class="fas fa-angle-right mr-2"></i><a href="{% static '2018_2023_stratejik_plan.pdf' %}"
                target="_blank"> 2018- 2023 Stratejik Plan </a>
            </div> -->
            <div>
              {% for x in beyannameler %}
                <i class="fas fa-angle-right mr-2"></i><a href="/media/{{x.pdf}}"
                  target="_blank"> {{x.title}} </a>
                <br>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-12 mb-4">
        <div class="card-shadow-green h-100">
          <div class="card-title-content" style="background-color:#00926e; ">
            <h6 class="mb-0">Çocuk Atölyeleri Rehberi</h6>
          </div>
          <div class="card-body-content" style="line-height: 2;">
            <div>
              <i class="fas fa-angle-right mr-2"></i><a href="{% static 'cocuk_atolyeleri_rehberi.pdf' %}"
                target="_blank"> 2019- 2020 </a>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>



{% endblock %}