{% extends 'base.html' %}
{% load static %}
{% block title %} Kullanım Koşulları ve Gizlilik Politikası {% endblock %}
{% block head %}
{% endblock %}

{% block body %}
<section class="page-section" id="about">
    <div class="container">
        <h4 class="text-center mb-3">Kullanım Koşulları ve Gizlilik Politikası</h4>
        <div class="mb-4">
            <h6 class="mb-2">WEB SİTESİ HAKKINDA</h6>
            <div class="mb-2">
                Köy Okulları Değişim Ağı (bundan söyle “Dernek” olarak anılacaktır) tarafından, <strong><a
                        target="_blank" class="text-dark" href="www.kodegisim.org"> www.kodegisim.org</a> </strong> web
                sitesi (“Site”) kullanıma
                açılmıştır. Site’ye erişim sağlayan ve/veya kullanan ve/veya yararlanan tüm gerçek ya da tüzel kişilerin
                (“Kullanıcı”) sitenin her türlü kullanımı için geçerli olan işbu Kullanım Koşulları ve Gizlilik
                Politikası
                (“Politika”) metinlerini dikkatle okuması gerekliliği bulunmaktadır.
            </div>
            <div>
                Kullanıcılar işbu Politikayı okuyarak Site kapsamındaki kullanım ve bilgi paylaşımı konusunda gerekli
                bilgilendirmenin gerek Türk Hukuku kapsamındaki mevzuatlar (6102 Sayılı Türk Ticaret Kanunu, 6098 Sayılı
                Türk
                Borçlar Kanunu, 6698 Sayılı Kişisel Verilerin Korunması Kanunu ve sair) gerekse de genel etik ilkelerine
                uygun
                olarak kendilerine yapıldığını kabul etmektedir. Dernek olarak bizler için verdiğiniz bilgilerin
                korunması ve
                gizliliği büyük önem taşımaktadır. İnternet tarafından sunulan birçok olanak ve risk nedeniyle Sitemizin
                kullanımıyla ilgili tarafınıza ait bilgilerin korunmasına yönelik aşağıda belirtilen hususlar ile ilgili
                olarak
                tarafınızı bilgilendirmek istemekteyiz.
            </div>
        </div>
        <div class="mb-4">
            <h6 class="mb-2">KULLANICI TARAFINDAN PAYLAŞILAN BİLGİLER HAKKINDA</h6>
            <div class="mb-2">
                Site kullanıcıları, Site kapsamında Gönüllülük Formu ile ya da sair şekillerde kendi açık rızaları
                dâhilinde
                tarafımız ile paylaştıkları tüm ticari ve/veya kişisel bilgilerin (“Bilgi”) kendilerine ait olduğunu,
                doğru ve
                güncel olduğunu kabul ve beyan ederler. Bahse konu bilgilerin başka bir üçüncü kişi ya da kuruma
                (“Üçüncü
                Partiler”) ait olması halinde Dernek, kullanıcının üçüncü partilere ait bu bilgileri ilgili Kanun ve
                yasal
                düzenlemeler uyarınca gerekli bilgilendirme ve rıza neticesinde Dernek ile paylaştığını kabul edecek
                olup
                herhangi bir hukuki ve/veya cezai sorumluluk kabul etmeyeceğimizi bildirmek isteriz.
            </div>
            <div>
                Dernek olarak site üzerinden toplanan bilgileriniz kapsamında sizlere ilgili Kanun ve yasal düzenlemeler
                uyarınca kademi olarak bilgilendirmeler sunarak bilgilerinizi tutmamızdaki hukuki sebebimizi, hangi
                maksatlar
                ile bilgilerinizi kullandığımızı, hangi kişi ve/veya kurumlara aktardığımıza ve dair detaylı
                bilgilendirmeleri
                sağlıyor olacağız.
            </div>
        </div>
        <div class="mb-4">
            <h6 class="mb-2">WEB SİTESİ DEĞİŞİKLİKLERİ</h6>
            Dernek dilediği zaman işbu Politikayı, site kapsamında yer alan her türlü hukuki ve/veya sair metni,
            herhangi bir
            teknik unsuru, içeriği ya da özelliği değiştirebilecektir. Bahse konu her türlü değişiklik Site ’de
            yayınlanması
            ile birlikte geçerli sayılacak olup işbu değişikliklere ilişkin gerekli inceleme ve okumaların yapılması
            kullanıcıların şahsi sorumluluğunda olup Derneğin bu kapsamda herhangi bir hukuki ve/veya cezai sorumluluğu
            söz
            konusu değildir.
        </div>
        <div class="mb-4">
            <h6 class="mb-2">İLETİŞİM</h6>
            Politika ile ilgili her türlü görüş ve önerilerinizi paylaşmak veya sorularınızı yönlendirmek için bizimle
            Site’nin
            “İletişim” bölümünden ya da doğrudan <strong><a target="_blank" class="text-dark"
                    href="kvkk@kodegisim.org">kvkk@kodegisim.org</a> </strong> eposta adresimizden iletişime
            geçebilirsiniz.
        </div>
    </div>
</section>

{% endblock %}