{% extends 'base.html' %}
{% load static %}
{% block title %} Kurumsal Destek ve İşbirliği {% endblock %}
{% block head %}
{% endblock %}

{% block body %}
<section class="page-section">
        <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="section-heading ">Nasıl Destek Olabilirsiniz?  </h1><br>
            <h5 class="section-heading ">KODA ile işbirliği yapmak istiyorum </h5><br>
       <h3 class="section-subheading text-muted">Bu sayfada KODA ile işbirliğinde bulunabileceğiniz birkaç işbirliği modeline ulaşabilirsiniz. Bu modeller kapsamında bizlerle işbirliğinde bulunmak isterseniz ya da aklınıza gelen farklı işbirliği fikirleri olursa sizlerle iletişime geçmek isteriz. Aşağıdaki form kaydı üzerinden bizlere ulaşabilirsiniz.
​</h3>

            <h5 class="section-heading "> 1)Çalışanlarınıza hediyeniz; KODA hediye kartları olsun. </h5><br>

       <h3 class="section-subheading text-muted">   Şanlıurfa-Harran’daki köy okulu öğrencilerinin keyifle hazırladıkları hediye kartlarını, siz de kurum çalışanlarınıza bayramlarda, yeni yılda vb. özel günlerde tebrik/kutlama kartı armağan edebilirsiniz. İstediğiniz sayıda hediye kartını sizlere ulaştıralım; bu sayede çalışanlarınız hem özel günlerinde kurumlarından güzel bir armağan almış olsunlar, hem de dolaylı olarak bir STK’yı desteklemiş olmayı tatsınlar. Hediye kartın minimum maliyeti ise 50 TL’dir.​</h3>

       <h5 class="section-heading ">    2)Kurum çalışanlarınızın bir STK’ya destek olmasına aracı olun.</h5><br>

       <h3 class="section-subheading text-muted">   Şalıurfa-Harran’daki köy okulu öğrencilerinin keyifle hazırladıkları hediye kartlarını, kurum

           çalışanlarınıza duyurabilir ve her bir çalışanınızın bireysel olarak KODA’ya katkı sağlamalarına aracı olabilirsiniz. </h3>



        <h5 class="section-heading "> 3)Kurum çalışanlarınızın doğum gününü KODA’ya yapacağınız bağış ile kutlayabilirsiniz. </h5><br>

       <h3 class="section-subheading text-muted"> Kurum çalışanlarınız, başka bir iş arkadaşlarının doğum gününü kutlamak istediklerinde, KODA’yı desteklemek üzere bir dayanışma ağı oluşturabilirler.
       </h3>
<br>
  </section>
{% endblock %}
