{% extends 'base.html' %}
{% load static %}
{% block title %} KVKK Bilgilendirme metni {% endblock %}
{% block head %}
{% endblock %}

{% block body %}
<section class="page-section" id="about">
    <div class="container">
        <h4 class="text-center mb-3">KVKK Bilgilendirme Metni</h4>
        <div class="mb-4">
            Köy Okulları Değişim Ağı (“KODA”) olarak kişisel verileriniz konusunda büyük bir hassasiyet göstermekteyiz.
            Bu
            nedenle, temel hak ve özgürlüklerinizi korumak amacıyla yürürlükte olan 6698 Sayılı Kişisel Verilerin
            Korunması
            Kanunu'nu (“KVKK”) kapsamındaki kişisel verilerinizin kullanımı ve korunması ile ilgili haklarınız hakkında
            sizi
            bilgilendirmek istiyoruz.
        </div>
        <div class="mb-4">
            <h6 class="mb-2">1. Kişisel Veri Nedir?</h6>
            Kişisel veri, KVKK’da kimliği belirli veya belirlenebilir gerçek kişiye ilişkin her türlü bilgi olarak
            tanımlanmıştır. Buna göre bizimle paylaştığınız adınız, soyadınız, elektronik posta adresiniz ve telefon
            numaranız
            kişisel veri olarak adlandırılmaktadır.
        </div>
        <div class="mb-4">
            <h6 class="mb-2">2. Kişisel verilerinizin tarafımızca toplanmasının amacı nedir?</h6>
            KODA olarak sizlere hizmet sağlayabilmek, yasal yükümlülüklerimizi yerine getirebilmek, Derneğimizin
            faaliyetleri
            kapsamındaki başvuru ve taleplerinizi değerlendirmek ve Dernek bünyesindeki yenilik ve gelişmelerden sizi
            haberdar
            edebilmek için kişisel bilgilerinizi toplamakta ve bu kapsamda işlemekteyiz.
        </div>
        <div class="mb-4">
            <h6 class="mb-2">3. Kişisel verilerinizi hangi amaçla, kimlere aktarıyoruz?</h6>
            Kişisel verileriniz yurtiçinde ve yurtdışında birlikte çalışmakta olduğumuz iştiraklarımız, iş ilişkisinin
            devamı
            esnasında birlikte bizi temsil eden ve/veya faaliyetlerimizi yürütebilmek için işbirliği yaptığımız iş
            ortağımız
            olan kurum, kuruluşlarla paylaşılabilmektedir. Ayrıca, yasal yükümlülüklerimiz nedeniyle ve bunlarla sınırlı
            olmak
            üzere mahkemeler ve diğer kamu kurumları ile kişisel veriler paylaşılmaktadır.
        </div>
        <div class="mb-4">
            <h6 class="mb-2"> 4. Kişisel verilerinizi nasıl saklıyoruz?</h6>


            KODA ile paylaşılan kişisel verileriniz ilgili yasal düzenlemelere, KVKK hükümlerine ve KODA standartlarına
            uygun
            olarak saklanmaktadır.
        </div>
        <div class="mb-4">
            <h6 class="mb-2"> 5. Kişisel verilerinizi ne kadar süre ile tutuyoruz?</h6>



            KODA olarak kişisel verilerinizi KVKK’ya uygun olarak saklamaktayız. KVKK Md. 7/f.1.’e göre işlenmesi
            gerektiren
            amaç ortadan kalktığında ve/veya mevzuat uyarınca verilerinizi işlememiz için zorunlu kılındığımız
            zamanaşımı
            süreleri dolduğunda, kişisel verileriniz tarafımızca silinecek, yok edilecek veya anonimleştirerek
            kullanılmaya
            devam edilecektir.
        </div>
        <div class="mb-4">
            <h6 class="mb-2"> 6. Kişisel Verilerin Korunması Kanunu'ndan doğan haklarınız nelerdir?</h6>



            KVKK Md. 11 uyarınca kişisel verileriniz ile ilgili tarafımıza başvurarak aşağıda sayılmış olan konular ile
            ilgili
            talepte bulunabilirsiniz;

            <ul class="mt-2">
                <li>Kişisel verilerinizin işlenip işlenmediğini öğrenme</li>
                <li>Kişisel verileriniz işlenmişse buna ilişkin bilgi talep etme</li>
                <li>Kişisel verilerinizin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme,
                </li>
                <li>Yurt içinde veya yurt dışında kişisel verilerin aktarıldığı üçüncü kişileri bilme,</li>
                <li>Kişisel verilerin eksik veya yanlış işlenmiş olması hâlinde bunların düzeltilmesini isteme,</li>
                <li>Kişisel verilerin silinmesini veya yok edilmesini isteme,</li>
                <li>Kişisel verilerin eksik veya yanlış işlenmiş olması hâlinde bunların düzeltilmesine ve/veya kişisel
                    verilerin silinmesini veya yok edilmesine ilişkin işlemlerin kişisel verilerin aktarıldığı üçüncü
                    kişilere
                    bildirilmesini isteme,</li>
                <li>İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin
                    kendisi
                    aleyhine bir sonucun ortaya çıkmasına itiraz etme,</li>
                <li>Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması hâlinde zararın
                    giderilmesini
                    talep etme haklarına sahipsiniz.</li>
            </ul>
        </div>
        <div class="mb-4">
            KODA olarak taleplerinizi, talebin niteliğine göre en kısa sürede ve en geç otuz gün içinde ücretsiz olarak
            sonuçlandırmaktayız. Ancak, işlemin ayrıca bir maliyeti gerektirmesi hâlinde, Kurulca belirlenen tarifedeki
            ücret
            alınabilecektir.
        </div>

    </div>
</section>

{% endblock %}