{% extends 'base.html' %}
{% load static %}
{% block head %}

<style>
  .card-shadow-green {
    width: 300px;
    border-radius: 5px;
    background: rgb(242, 242, 242, .5);
    -webkit-box-shadow: 0 0.46875rem 2.1875rem rgba(28, 202, 167, .03), 0 0.9375rem 1.40625rem rgba(28, 202, 167, .03), 0 0.25rem 0.53125rem rgba(28, 202, 167, .05), 0 0.125rem 0.1875rem rgba(28, 202, 167, .03);
    box-shadow: 0 0.46875rem 2.1875rem rgba(28, 202, 167, .03), 0 0.9375rem 1.40625rem rgba(28, 202, 167, .03), 0 0.25rem 0.53125rem rgba(28, 202, 167, .05), 0 0.125rem 0.1875rem rgba(28, 202, 167, .03);
  }

  .card-shadow-green:hover {
    -webkit-box-shadow: 0 0.8rem 4rem rgba(179, 179, 179, .2), 0 1.8rem 2.8rem rgba(179, 179, 179, .2), 0 0.5rem 1rem rgba(179, 179, 179, .2), 0 0.25rem 0.3rem rgba(179, 179, 179, .2);
    box-shadow: 0 0.8rem 4rem rgba(179, 179, 179, .2), 0 1.8rem 2.8rem rgba(179, 179, 179, .2), 0 0.5rem 1rem rgba(179, 179, 179, .2), 0 0.25rem 0.3rem rgba(28, 202, 167, .2);
  }

  .card-title-content {
    padding: 1.2rem;
  }

  .card-title-content h6 {
    font-size: 16px;
    font-weight: 600;
  }

  .card-title-content div {
    font-size: 12px;
  }

  a {
    color: #595959;
  }

  a .card-title-content h6 {
    line-height: 1.4;
  }

  a:hover {
    color: #404040;
    text-decoration: none;

  }

  @media (min-width: 767.78px) and (max-width: 991.78px) {
    .intro-card-row .col-md-4 {
      flex: 0 0 33.333%;
      max-width: 33.333%;
    }

    .intro-card-row .col-md-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }

    .card-shadow-green {
      width: 200px;
    }

    .card-title-content h6 {
      font-size: 14px;
    }
  }

  @media (min-width: 521px) and (max-width: 767.78px) {
    .intro-card-row .col-md-4 {
      flex: 0 0 33.333%;
      max-width: 33.333%;
    }

    .intro-card-row .col-md-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }

    .card-shadow-green {
      width: 150px;
    }

    .card-title-content h6 {
      font-size: 12px;
    }

  }

  @media (max-width: 520.78px) {
    .card-shadow-green {
      margin: 0px auto;
      max-width: 300px;
      width: 100%;
    }

    .card-shadow-green.float-right,
    .card-shadow-green.float-left {
      float: none !important;
    }
  }
</style>
{% endblock %}

{% block body %}
<section class="page-section">
  <div class="container">
    <h4 class="text-center mb-4">Bize Nasıl Destek Olabilirsiniz?</h4>
    <div class="row intro-card-row">
      <div class="col-md-4 mb-5 ">
        <div class="card-shadow-green text-center h-100" style="border-bottom:5px solid #e45769; margin: 0px auto;">
          <a href="{% url 'bagis_detay' %}" style="width: 300px;">

            <div class="card-title-content">
              <h6 class="my-4">KODA'ya Bağışta Bulunmak İstiyorum</h6>
            </div>
          </a>

        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card-shadow-green text-center h-100" style="border-bottom:5px solid #034080; margin: 0px auto;">
          <a href="{% url 'isbirligi' %}">
            <div class="card-title-content">
              <h6 class="my-4">KODA ile İşbirliği Yapmak İstiyorum</h6>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card-shadow-green text-center" style="border-bottom:5px solid #00926e; margin: 0px auto;">
          <a href="{% url 'sponsor' %}">
            <div class="card-title-content">
              <h6 class="my-4">KODA'ya
                Sponsor Olmak İstiyorum
              </h6>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card-shadow-green text-center h-100" style="border-bottom:5px solid #fab537 ; margin: 0px auto;">
          <a href="{% url 'ogretmen_agin_parcasi' %}"
            target="_blank">
            <div class="card-title-content">
              <h6 class="my-4">Öğretmenim, Bu Ağın Bir Parçası Olmak İstiyorum</h6>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-4 mb-5">
        <div class="card-shadow-green text-center h-100" style="border-bottom:5px solid #e45769;margin: 0px auto;">
          <a href="{% url 'koda_gonullusu' %}">
            <div class="card-title-content">
              <h6 class="my-4">KODA Gönüllüsü Olmak İstiyorum</h6>

            </div>
          </a>
        </div>
      </div>

      <div class="col-md-4 mb-5">
        <div class="card-shadow-green text-center h-100" style="border-bottom:5px solid #034080;margin: 0px auto;">
          <a href="{% url 'egitmen_agin_parcasi' %}"
            target="_blank">
            <div class="card-title-content">
              <h6 class="my-4">Eğitmenim, Bu Ağın Bir Parçası Olmak İstiyorum</h6>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="mt-5">
    {{data|safe}}

    </div>
</section>

{% endblock %}
