{% extends 'base.html' %}
{% load static %}
{% block title %} Öğretmen Toplulukları {% endblock %}
{% block head %}

<style>
  .card-img-content {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: 230px;
  }

  .card-circle {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
  }

  .card-shadow-green {
    -webkit-box-shadow: 0 0.46875rem 2.1875rem rgba(28, 202, 167, .03), 0 0.9375rem 1.40625rem rgba(28, 202, 167, .03), 0 0.25rem 0.53125rem rgba(28, 202, 167, .05), 0 0.125rem 0.1875rem rgba(28, 202, 167, .03);
    box-shadow: 0 0.46875rem 2.1875rem rgba(28, 202, 167, .03), 0 0.9375rem 1.40625rem rgba(28, 202, 167, .03), 0 0.25rem 0.53125rem rgba(28, 202, 167, .05), 0 0.125rem 0.1875rem rgba(28, 202, 167, .03);
  }

  .card-shadow-green:hover {
    -webkit-box-shadow: 0 0.8rem 4rem rgba(179, 179, 179, .2), 0 1.8rem 2.8rem rgba(179, 179, 179, .2), 0 0.5rem 1rem rgba(179, 179, 179, .2), 0 0.25rem 0.3rem rgba(179, 179, 179, .2);
    box-shadow: 0 0.8rem 4rem rgba(179, 179, 179, .2), 0 1.8rem 2.8rem rgba(179, 179, 179, .2), 0 0.5rem 1rem rgba(179, 179, 179, .2), 0 0.25rem 0.3rem rgba(28, 202, 167, .2);
  }

  .card-title-content {
    padding: 1.2rem;
  }

  .card-title-content div {
    font-size: 14px;
    padding-top: 10px;
  }

  .card-img-1 {
    background-image: url("../static/img/33.jpg");
  }

  .card-img-2 {
    background-image: url("../static/img/11.jpg");
  }

  .card-img-3 {
    background-image: url("../static/img/22.jpg");
  }

  @media (min-width: 767.78px) and (max-width: 991.78px) {

    .carousel-inner,
    .carousel-inner img {
      height: 450px !important;
    }
  }

  @media (max-width: 767.78px) {

    .carousel-inner,
    .carousel-inner img {
      height: 300px !important;
    }
  }

  @media (min-width: 991.78px) and (max-width: 1240px) {
    .intro-card-row .col-md-4 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  @media (max-width: 991.78px) {
    .intro-card-row .col-md-4 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
</style>
{% endblock %}

{% block body %}
<section class="page-section">
  <div class="container">
    <div class="mb-5">
    {{data.content|safe}}

    </div>
        <div class="row intro-card-row">

          {% for yorum in yorumlar %}
          <div class="col-md-4 mb-4">
              <div class="card-shadow-green text-center h-100" style="border-bottom:3px solid #e45769;">
              <div class="card-img-content text-center py-4" style="background-image: url('../media/{{yorum.image}}');">
              </div>
              <div class="card-title-content">
                <div>
                  {{yorum.content}}
                </div>
              </div>
            </div>
          </div>
          {% endfor %}




        </div>
    <!--
      <div class="col-md-4 mb-4">
        <div class="card-shadow-green text-center h-100" style="border-bottom:3px solid #e45769;">
          <div class="card-img-content text-center py-4" style="background-image: url('../static/img/afacan_6.JPG');">
          </div>
          <div class="card-title-content">
            <div>
              ‘’KODA'yla daha sosyal bir ortam gördüm. Harran'da sosyal yönden sürekli şikayet ediyorduk. Bu şikayetleri
              KODA'yla bir nebze azalttık.’’ (Şanlıurfa-Harran)
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-4 mb-4">
        <div class="card-shadow-green text-center h-100" style="border-bottom:3px solid #00926e;">

          <div class="card-img-content text-center py-4" style="background-image: url('../static/img/1_harran_9.jpg');">

          </div>
          <div class="card-title-content">
            <div>
              ‘’İlk yılımda ilgisiz veli ve öğrencilerle karşılaşınca afalladım. Ama KODA ile aklımdaki soru
              işaretlerinin cevabını buldum. Mesela, sınıf yönetimi ya da dersi daha eğlenceli nasıl işleyebileceğim
              konularının KODA sayesinde üstesinden geldim.’’ (Şanlıurfa-Harran)
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card-shadow-green text-center h-100" style="border-bottom:3px solid #fab537;">
          <div class="card-img-content text-center py-4" style="background-image: url('../static/img/1_harran_8.jpg');">
          </div>
          <div class="card-title-content">
            <div>
              ‘’Dıştan bir gözün bizi gözlemleyip neyi yanlış neyi doğru yaptığımızı söylemesi mesleki açıdan fayda
              sağlıyor.’’ (Şanlıurfa-Harran)
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card-shadow-green text-center h-100" style="border-bottom:3px solid #00926e;">

          <div class="card-img-content text-center py-4" style="background-image: url('../static/img/d_66.JPG');">

          </div>
          <div class="card-title-content">
            <div>
              “Bu süreçten önce öğrencilerin duygusal ve zihinsel seviyelerinin tam farkına varıp eğitim sürecini ona
              göre düzenlemekte eksiklikler yaşıyormuşum. Bu seneki mentorluk sürecinden sonra daha ihtiyaca uygun ve
              etkili noktaları yakaladım. Bu da hem öğrencilere hem bana hem de sınıf iklimine yansıdı.”
              (Şanlıurfa-Harran)
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card-shadow-green text-center h-100" style="border-bottom:3px solid #fab537;">

          <div class="card-img-content text-center py-4" style="background-image: url('../static/img/d_13.JPG');">

          </div>
          <div class="card-title-content">
            <div>
              “Mentor öğretmen masal anlatımı ve tekerleme öğretimi konusunda bende büyük farkındalık oluşmasını
              sağladı. Artık her gün masal saati yapıyor, her hafta bir tekerlemeyi keyifle öğreniyoruz. Ayrıca her
              sabah yaptığımız çemberle matematik öğreniyor, müzik dinliyor, ritim yapıyor oyun oynayarak öğrenmenin
              hazzına varıyoruz. Öğrencilerin aktif olduğu bir eğitim ortamı beni de mesleğime daha çok bağlıyor.”
              (Diyarbakır-Çınar)
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card-shadow-green text-center h-100" style="border-bottom:3px solid #e45769;">

          <div class="card-img-content text-center py-4" style="background-image: url('../static/img/d_70.JPG');">

          </div>
          <div class="card-title-content">
            <div>
              “Öğrencilerim değerli olduklarını hissettiler ve ben de dahil masalların, mitoloji ve efsanenin mucizesine
              inanmaya başladık. Anlattıkça, dinledikçe büyük değişimler oldu çocuklarda.” (Şanlıurfa-Harran)
            </div>
          </div>
        </div>
      </div>
    </div>
    -->

    <div class="mt-5 text-center">
      {{data_2.content|safe}}
    </div>
  </div>
</section>


{% endblock %}