{% extends 'base.html' %}
{% load static %}
{% block head %}
<style>
  .new-content{
    border-radius: 4px;
  }
  .new-content a{
    color: #fff;
    font-weight:bold ;
  }
</style>
{% endblock %}


{% block body %}

<section class="page-section">

  <div class="container">
    <h4 class="text-center mb-4">Rüzgar Gülü Haber Bültenleri</h4>
    <h3 class="text-center mb-4">2019</h3>
    <div class="d-flex justify-content-center mb-4 flex-wrap">
      <div class="p-2 new-content mr-2 mb-3" style="background-color:#00936F;"><a href="{% url 'bsmg_programi' %}" ><span>Temmuz</span></a></div>
      <div class="p-2 new-content mr-2 mb-3" style="background-color:#00936F;"><a href="{% url 'ogretmen_topluluklari' %}"  ><span>Haziran</span></a></div>
      <div class="p-2 new-content mr-2 mb-3" style="background-color:#fab537;"> <a href="{% url 'cocuk_atolyeleri' %}"><span>Mayıs</span></a></div>
      <div class="p-2 new-content mr-2 mb-3" style="background-color:#fab537;"><a href="{% url 'bsmg_programi' %}"><span>Nisan</span></a></div>
      <div class="p-2 new-content mr-2 mb-3" style="background-color:#fab537;"><a href="{% url 'ogretmen_topluluklari' %}"span>Mart</span></a></div>
      <div class="p-2 new-content mr-2 mb-3" style="background-color:#e45769;"> <a href="{% url 'cocuk_atolyeleri' %}" ><span>Şubat</span></a>
      </div>
      <div class="p-2 new-content mr-2 mb-3" style="background-color:#e45769;"><a href="{% url 'bsmg_programi' %}"><span>Ocak</span></a></div>
    </div>
    <h3 class="text-center mb-4">2018</h3>
    <div class="d-flex justify-content-center mb-4 flex-wrap">
      <div class="p-2 new-content mr-2 mb-3" style="background-color:#e45769;"><a href="{% url 'ogretmen_topluluklari' %}" ><span>Aralık</span></a></div>
      <div class="p-2 new-content mr-2 mb-3" style="background-color:#034080;"><a href="{% url 'cocuk_atolyeleri' %}"  ><span>Kasım</span></a></div>
      <div class="p-2 new-content mr-2 mb-3" style="background-color:#034080;"><a href="{% url 'bsmg_programi' %}"><span>Ekim</span></a></div>
      <div class="p-2 new-content mr-2 mb-3" style="background-color:#034080;"><a href="{% url 'ogretmen_topluluklari' %}" ><span>Eylül</span></a></div>
      <div class="p-2 new-content mr-2 mb-3" style="background-color:#00936F;"><a href="{% url 'cocuk_atolyeleri' %}" ><span>Ağustos</span></a></div>
      <div class="p-2 new-content mr-2 mb-3" style="background-color:#00936F;"><a href="{% url 'bsmg_programi' %}"><span>Temmuz</span></a></div>
      <div class="p-2 new-content mr-2 mb-3" style="background-color:#00936F;"><a href="{% url 'ogretmen_topluluklari' %}" ><span>Haziran</span></a></div>
      <div class="p-2 new-content mr-2 mb-3" style="background-color:#fab537;"><a href="{% url 'cocuk_atolyeleri' %}" ><span>Mayıs</span></a></div>
      <div class="p-2 new-content mr-2 mb-3" style="background-color:#fab537;"><a href="{% url 'bsmg_programi' %}"  ><span>Nisan</span></a></div>
      <div class="p-2 new-content mr-2 mb-3" style="background-color:#fab537;"><a href="{% url 'ogretmen_topluluklari' %}" ><span>Mart</span></a></div>
      <div class="p-2 new-content mr-2 mb-3" style="background-color:#e45769;"> <a href="{% url 'cocuk_atolyeleri' %}" ><span>Şubat</span></a>
      </div>
      <div class="p-2 new-content mr-2 mb-3" style="background-color:#e45769;"><a href="{% url 'bsmg_programi' %}"><span>Ocak</span></a></div>
    </div>
  </div>
</div>
  
  </section>



{% endblock %}
