{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}

{% block body %}
<section class="page-section">
  <div class="container">
    <h4 class="text-center mb-5">Nasıl Destek Olabilirsiniz?</h4>
    <div class="mt-5">
      <div class="mb-3">
        <h5>KODA’ya Sponsor Olmak İstiyorum</h5>
        <div class="mt-3 mb-2">
          KODA’nın bu yılki faaliyetleri olan;
          Öğretmen Toplulukları, Çocuk Atölyeleri ve İçerik Geliştirme programları kapsamında yürüttüğümüz alt
          çalışmalar bulunuyor. Faaliyetlerimizin detaylarına linkten ulaşabilirsiniz.
        </div>
        <a href="{% url 'faaliyetlerimiz' %}" class="font-weight-bold"
          style="color:#034080;">https://www.kodegisim.org/koy-ogretmen-proje</a>
      </div>
      <div class="mb-4">

        <h6 style="color: #00926e;">1) Öğretmen Toplulukları programı kapsamında:</h6>
        <div class="mt-3">
          <div class="my-2">
            Banka kartınızla tek seferlik veya düzenli bağış yapmak isterseniz, ödemelerinizi

          </div>
          <i class="fas fa-angle-right mr-2" style="color: #fab537;"></i>Öğretmen Yaz Kampı <br>
          <i class="fas fa-angle-right mr-2" style="color: #fab537;"></i>Diyarbakır-Çınar Köy Şenliği <br>
          <i class="fas fa-angle-right mr-2" style="color: #fab537;"></i>Şanlıurfa-Harran Köy Şenliği aktivitelerimizde
          yer alan:
          <div class="mt-2 pl-3">
            <i class="fas fa-angle-double-right mr-2" style="color: #fab537;"></i>Uçak bileti <br>
            <i class="fas fa-angle-double-right mr-2" style="color: #fab537;"></i>Konaklama <br>
            <i class="fas fa-angle-double-right mr-2" style="color: #fab537;"></i>Yemek
          </div>

          <div class="mt-2">Basım gibi kalemlerin bütçesine destek olabilirsiniz.</div>
        </div>
      </div>
      <div class="mb-3">

        <h6 style="color: #00926e;">2) Çocuk Atölyeleri programı kapsamında:</h6>
        <div class="mt-3">
          <i class="fas fa-angle-right mr-2" style="color: #fab537;"></i>Çocuk Atölyeleri Yaz Kampı<br>
          <i class="fas fa-angle-right mr-2" style="color: #fab537;"></i>Çocuk Atölyeleri Kış Kampı aktivitelerimizde
          yer alan:
          <div class="mt-2 pl-3">
            <i class="fas fa-angle-double-right mr-2" style="color: #fab537;"></i>Uçak bileti <br>
            <i class="fas fa-angle-double-right mr-2" style="color: #fab537;"></i>Konaklama <br>
            <i class="fas fa-angle-double-right mr-2" style="color: #fab537;"></i>Yemek <br>
            <i class="fas fa-angle-double-right mr-2" style="color: #fab537;"></i>Video kurgu
          </div>

          <div class="mt-2">Basım gibi kalemlerin bütçesine destek olabilirsiniz.</div>
        </div>
      </div>

    </div>

</section>


{% endblock %}