{% extends 'base.html' %}
{% load static %}
{% block title %} Stratejimiz {% endblock %}
{% block head %}
<style>
  div {
    font-size: 16px;
    font-weight: 500;
  }
</style>
{% endblock %}

{% block body %}
<section class="page-section">
  <div class="container">
    <h4 class="mb-5 text-center">Stratejimiz</h4>

    <div class="d-flex bd-highlight  align-items-center mb-3">
      <div class="p-2 flex-shrink-1 bd-highlight"> <img src="{% static 'img/s5.png' %}"
          style="width:180px; height:80px;">
      </div>
      <div class="p-2 w-100 bd-highlight"> Köy öğretmenlerini kişisel ve mesleki açıdan güçlendirmek.</div>
    </div>
    <div class="d-flex bd-highlight  align-items-center mb-3">

      <div class="p-2 w-100 bd-highlight text-right"> Köy öğretmenlerini kişisel ve mesleki açıdan güçlendirmek.</div>
      <div class="p-2 flex-shrink-1 bd-highlight"> <img src="{% static 'img/s6.png' %}"
          style="width:180px; height:80px;">
      </div>
    </div>
    <div class="d-flex bd-highlight  align-items-center mb-3">
      <div class="p-2 flex-shrink-1 bd-highlight"> <img src="{% static 'img/s7.png' %}"
          style="width:100px; height:100px;">
      </div>
      <div class="p-2 w-100 bd-highlight"> Köylerdeki fırsatları değerlendirerek ve sorunları görmezden gelmeden; köy
        okullarındaki eğitimin kalitesini artıracak çocuk merkezli, yenilikçi örnek uygulamaları ortaya çıkarmak ve
        yaygınlaştırmak.</div>
    </div>
  </div>
</section>


{% endblock %}