{% extends 'base.html' %}
{% load static %}

{% block head %}
<style>
  .circle-1 {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    margin: 0px auto;
    padding-top: 20px;
  }

  .circle-2 {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    margin: 0px auto;
    padding-top: 20px;
  }

  .circle-3 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0px auto;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
  }

  .img-container {
    position: relative;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    margin: 0px auto;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    opacity: 0;
    transition: .5s ease;
    background-color: #fff;
  }

  .img-container:hover .overlay {
    opacity: .8;
  }

  .img-container .text {
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  h6 {
    font-size: 20px;
    font-weight: normal;
  }

  .card-title-content {
    padding: 1.2rem;
  }

  .card-title-content h6 {
    font-size: 18px;
    font-weight: bold;
  }

  .card-title-content div {
    font-size: 16px;
  }
  @media (min-width: 767.78px) and (max-width: 991.78px) {
        .col-md-4 {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    @media (max-width: 767.78px) {
        .col-md-4 {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
</style>
{% endblock %}

{% block body %}

<section class="page-section">
  <div class="container">
    <h4 class="mb-5 text-center">Ekibimiz</h4>
      <div class="row">
    {% for member in team %}


      <div class="col-md-4 mb-4">
        <div class="circle-1" style="background-color: #00926e ;">
          <div class="circle-2" style="background-color: #e45769 ;">
            <div class="img-container" style="background-image: url('../media/{{member.image}}');">
              <div class="overlay">
                <div class="text small" style="font-size: 12px;"> {{member.email}}   </div>
              </div>
            </div>
          </div>
        </div>
        <h6 class="text-center mt-3">{{member.name}}</h6>
        <p class="text-center mt-3 text-muted">{{member.title}}</p>
      </div>



    {% endfor %}



  <!--

    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="circle-1" style="background-color: #00926e ;">
          <div class="circle-2" style="background-color: #e45769 ;">
            <div class="img-container" style="background-image: url('../static/img/Ekibimiz/Mine Ekinci.jpg');">
              <div class="overlay">
                <div class="text small" style="font-size: 12px;"> mine.ekinci@kodegisim.org </div>
              </div>
            </div>
          </div>
        </div>
        <h6 class="text-center mt-3">Mine Ekinci</h6>
        <p class="text-center mt-3 text-muted">Genel Koordinatör</p>
      </div>





      <div class="col-md-4 mb-4">
        <div class="circle-1" style="background-color: #fab537">
          <div class="circle-2" style="background-color: #00926e ;">
            <div class="img-container" style="background-image: url('../static/img/Ekibimiz/Esra Yıldırmış.jpg');">
              <div class="overlay">
                <div class="text" style="font-size: 12px;"> esra.yildirmis@kodegisim.org</div>
              </div>
            </div>
          </div>
        </div>
        <h6 class="text-center mt-3">Esra Yıldırmış</h6>
        <p class="text-center mt-3 text-muted">Öğretmen Toplulukları Programı Koordinatörü</p>
      </div>
      <div class="col-md-4 mb-4">
        <div class="circle-1" style="background-color: #034080 ;">
          <div class="circle-2" style="background-color: #fab537 ;">
            <div class="img-container" style="background-image: url('../static/img/team4.jpg');">
              <div class="overlay">
                <div class="text" style="font-size: 12px;"> duygu.asik@kodegisim.org </div>
              </div>
            </div>
          </div>
        </div>
        <h6 class="text-center mt-3">Duygu Aşık</h6>
        <p class="text-center mt-3 text-muted">BSMG Programı Koordinatörü</p>
      </div>

      <div class="col-md-4 mb-4">
        <div class="circle-1" style="background-color: #e45769; ">
          <div class="circle-2" style="background-color: #034080 ;">
            <div class="img-container" style="background-image: url('../static/img/team3.jpg');">
              <div class="overlay">
                <div class="text" style="font-size: 12px;"> gokcen.karaman@kodegisim.org</div>
              </div>
            </div>
          </div>
        </div>
        <h6 class="text-center mt-3">Gökçen Karaman</h6>
        <p class="text-center mt-3 text-muted">Köye İlk Adım Programı Koordinatörü</p>
      </div>
      <div class="col-md-4 mb-4">
        <div class="circle-1" style="background-color: #fab537">
          <div class="circle-2" style="background-color: #00926e ;">
            <div class="img-container" style="background-image: url('../static/img/Ekibimiz/Özüm Baykaş.jpg');">
              <div class="overlay">
                <div class="text" style="font-size: 12px;"> ozum.baykas@kodegisim.org</div>
              </div>
            </div>
          </div>
        </div>
        <h6 class="text-center mt-3">Özüm Baykaş</h6>
        <p class="text-center mt-3 text-muted">Köye İlk Adım Programı Saha Koordinatörü</p>
      </div>
      <div class="col-md-4 mb-4">
        <div class="circle-1" style="background-color: #fab537">
          <div class="circle-2" style="background-color: #034080 ;">
            <div class="img-container" style="background-image: url('../static/img/Ekibimiz/Cavit Yeşildağ.jpeg');">
              <div class="overlay">
                <div class="text" style="font-size: 12px;"> cavit.yesildag@kodegisim.org</div>
              </div>
            </div>
          </div>
        </div>
        <h6 class="text-center mt-3">Cavit Yeşildağ</h6>
        <p class="text-center mt-3 text-muted">Eğitim Danışmanı ve Bölge Temsilcisi</p>
      </div>
      <div class="col-md-4 mb-4">
        <div class="circle-1" style="background-color: #00926e ;">
          <div class="circle-2" style="background-color:#034080 ; ">
            <div class="img-container" style="background-image: url('../static/img/Ekibimiz/Barış Coşkun.jpg');    background-position: initial;">
              <div class="overlay">
                <div class="text" style="font-size: 12px;"> baris.coskun@kodegisim.org</div>
              </div>
            </div>
          </div>
        </div>
        <h6 class="text-center mt-3">Barış Coşkun</h6>
        <p class="text-center mt-3 text-muted">Covid-19 Bilgi ve İletişim Ağı Projesi Koordinatörü</p>
      </div>
      <div class="col-md-4 mb-4">
        <div class="circle-1" style="background-color:#00926e ; ">
          <div class="circle-2" style="background-color: #fab537;">
            <div class="img-container" style="background-image: url('../static/img/Ekibimiz/Öykü Kocaman.jpg');">
              <div class="overlay">
                <div class="text" style="font-size: 12px;"> oyku.kocaman@kodegisim.org</div>
              </div>
            </div>
          </div>
        </div>
        <h6 class="text-center mt-3">Öykü Kocaman</h6>
        <p class="text-center mt-3 text-muted">Covid-19 Bilgi ve İletişim Ağı Projesi Saha Koordinatörü</p>
      </div>
      <div class="col-md-4 mb-4">
        <div class="circle-1" style="background-color: #fab537">
          <div class="circle-2" style="background-color: #00926e ;">
            <div class="img-container" style="background-image: url('../static/img/Ekibimiz/Gökçe Uysal.JPG');    background-position: initial;">
              <div class="overlay">
                <div class="text" style="font-size: 12px;"> gokce.uysal@kodegisim.org</div>
              </div>
            </div>
          </div>
        </div>
        <h6 class="text-center mt-3">Gökçe Uysal</h6>
        <p class="text-center mt-3 text-muted">Covid-19 Bilgi ve İletişim Ağı Projesi İçerik Geliştirme Uzmanı</p>
      </div>

      <div class="col-md-4 mb-4">
        <div class="circle-1" style="background-color: #00926e">
          <div class="circle-2" style="background-color: #034080;">
            <div class="img-container" style="background-image: url('../static/img/team5.jpg');">
              <div class="overlay">
                <div class="text" style="font-size: 12px;"> gulsum.duman@kodegisim.org</div>
              </div>
            </div>
          </div>
        </div>
        <h6 class="text-center mt-3">Gülsüm Duman</h6>
        <p class="text-center mt-3 text-muted">Eğitim Uzmanı</p>
      </div>

      <div class="col-md-4 mb-4">
        <div class="circle-1" style="background-color: #fab537; ">
          <div class="circle-2" style="background-color: #e45769 ;">
            <div class="img-container" style="background-image: url('../static/img/team6.jpg');">
              <div class="overlay">
                <div class="text" style="font-size: 12px;">arzu.sahin@kodegisim.org</div>
              </div>
            </div>
          </div>
        </div>
        <h6 class="text-center mt-3">Arzu Şahin </h6>
        <p class="text-center mt-3 text-muted">İzleme ve Değerlendirme Uzmanı</p>
      </div>

      <div class="col-md-4 mb-4">
        <div class="circle-1" style="background-color: #fab537">
          <div class="circle-2" style="background-color: #00926e ;">
            <div class="img-container" style="background-image: url('../static/img/Ekibimiz/Dilara Avdagiç.jpg');">
              <div class="overlay">
                <div class="text" style="font-size: 12px;"> dilara.avdagic@kodegisim.org</div>
              </div>
            </div>
          </div>
        </div>
        <h6 class="text-center mt-3">Dilara Avdagiç</h6>
        <p class="text-center mt-3 text-muted">Akış ve Proje Yazım Asistanı</p>
      </div>
      <div class="col-md-4 mb-4">
        <div class="circle-1" style="background-color: #e45769; ">
          <div class="circle-2" style="background-color: #034080 ;">
            <div class="img-container" style="background-image: url('../static/img/Ekibimiz/Özlem Atalay Anıldı.JPG');">
              <div class="overlay">
                <div class="text" style="font-size: 12px;"> ozlem.anildi@kodegisim.org</div>
              </div>
            </div>
          </div>
        </div>
        <h6 class="text-center mt-3">Özlem Atalay Anıldı </h6>
        <p class="text-center mt-3 text-muted">Mali ve İdari İşler Koordinatörü</p>
      </div>
      <div class="col-md-4 mb-4">
        <div class="circle-1" style="background-color: #00926e">
          <div class="circle-2" style="background-color: #e45769;">
            <div class="img-container"
              style="background-image: url('../static/img/Ekibimiz/Menekşe Canatan.jpeg'); background-color: #fff;">
              <div class="overlay">
                <div class="text" style="font-size: 12px;"> menekse.canatan@kodegisim.org</div>
              </div>
            </div>
          </div>
        </div>
        <h6 class="text-center mt-3">Menekşe Canatan</h6>
        <p class="text-center mt-3 text-muted">İletişim ve Kaynak Geliştirme Koordinatörü</p>
      </div>
      <div class="col-md-4 mb-4">
        <div class="circle-1" style="background-color: #fab537; ">
          <div class="circle-2" style="background-color: #034080 ;">
            <div class="img-container" style="background-image: url('../static/img/Ekibimiz/Yunus Emre Demir.jpeg');">
              <div class="overlay">
                <div class="text" style="font-size: 12px;">emre.demir@kodegisim.org</div>
              </div>
            </div>
          </div>
        </div>
        <h6 class="text-center mt-3">Yunus Emre Demir</h6>
        <p class="text-center mt-3 text-muted">İletişim Uzmanı</p>
      </div>
      <div class="col-md-4 mb-4">
        <div class="circle-1" style="background-color: #fab537">
          <div class="circle-2" style="background-color: #00926e ;">
            <div class="img-container" style="background-image: url('../static/img/Ekibimiz/Ayça Elveren.jpg');">
              <div class="overlay">
                <div class="text" style="font-size: 12px;"> ayca.elveren@kodegisim.org</div>
              </div>
            </div>
          </div>
        </div>
        <h6 class="text-center mt-3">Ayça Elveren</h6>
        <p class="text-center mt-3 text-muted">Covid-19 Bilgi İletişim Ağı Arama Ekibi Üyesi</p>
      </div>

      <div class="col-md-4 mb-4">
        <div class="circle-1" style="background-color: #fab537; ">
          <div class="circle-2" style="background-color: #e45769 ;">
            <div class="img-container" style="background-image: url('../static/img/Ekibimiz/Başak Doğan.jpg');">
              <div class="overlay">
                <div class="text" style="font-size: 12px;"> basak.dogan@kodegisim.org</div>
              </div>
            </div>
          </div>
        </div>
        <h6 class="text-center mt-3">Başak Doğan</h6>
        <p class="text-center mt-3 text-muted">Covid-19 Bilgi İletişim Ağı Arama Ekibi Üyesi</p>
      </div>


      <div class="col-md-4 mb-4">
        <div class="circle-1" style="background-color: #e45769; ">
          <div class="circle-2" style="background-color: #034080 ;">
            <div class="img-container" style="background-image: url('../static/img/Ekibimiz/Çağhan Süzgün.jpeg');    background-position: initial;">
              <div class="overlay">
                <div class="text" style="font-size: 12px;"> caghan.suzgun@kodegisim.org</div>
              </div>
            </div>
          </div>
        </div>
        <h6 class="text-center mt-3">Çağhan Süzgün</h6>
        <p class="text-center mt-3 text-muted">Covid-19 Bilgi İletişim Ağı Arama Ekibi Üyesi</p>
      </div>


      <div class="col-md-4 mb-4">
        <div class="circle-1" style="background-color: #00926e">
          <div class="circle-2" style="background-color: #e45769;">
            <div class="img-container" style="background-image: url('../static/img/Ekibimiz/Damla Özçelik.jpeg');">
              <div class="overlay">
                <div class="text" style="font-size: 12px;">damla.ozcelik@kodegisim.org</div>
              </div>
            </div>
          </div>
        </div>
        <h6 class="text-center mt-3">Damla Özçelik</h6>
        <p class="text-center mt-3 text-muted">Covid-19 Bilgi İletişim Ağı Arama Ekibi Üyesi</p>
      </div>


      <div class="col-md-4 mb-4">
        <div class="circle-1" style="background-color: #fab537">
          <div class="circle-2" style="background-color: #034080 ;">
            <div class="img-container" style="background-image: url('../static/img/Ekibimiz/Gizem Akdoğan.jpeg');">
              <div class="overlay">
                <div class="text" style="font-size: 12px;"> gizem.akdogan@kodegisim.org</div>
              </div>
            </div>
          </div>
        </div>
        <h6 class="text-center mt-3">Gizem Akdoğan</h6>
        <p class="text-center mt-3 text-muted">Covid-19 Bilgi İletişim Ağı Arama Ekibi Üyesi</p>
      </div>


      <div class="col-md-4 mb-4">
        <div class="circle-1" style="background-color: #fab537">
          <div class="circle-2" style="background-color: #00926e ;">
            <div class="img-container" style="background-image: url('../static/img/Ekibimiz/Hatice Azin.jpg');    background-position: initial;">
              <div class="overlay">
                <div class="text" style="font-size: 12px;"> hatice.azin@kodegisim.org</div>
              </div>
            </div>
          </div>
        </div>
        <h6 class="text-center mt-3">Hatice Azin</h6>
        <p class="text-center mt-3 text-muted">Covid-19 Bilgi İletişim Ağı Arama Ekibi Üyesi</p>
      </div>


      <div class="col-md-4 mb-4">
        <div class="circle-1" style="background-color: #fab537; ">
          <div class="circle-2" style="background-color: #e45769 ;">
            <div class="img-container" style="background-image: url('../static/img/Ekibimiz/Simge Bağcı.jpeg');    background-position: initial;">
              <div class="overlay">
                <div class="text" style="font-size: 12px;"> simge.bagci@kodegisim.org</div>
              </div>
            </div>
          </div>
        </div>
        <h6 class="text-center mt-3">Simge Bağcı</h6>
        <p class="text-center mt-3 text-muted">Covid-19 Bilgi İletişim Ağı Arama Ekibi Üyesi</p>
      </div>


      <div class="col-md-4 mb-4">
        <div class="circle-1" style="background-color: #00926e">
          <div class="circle-2" style="background-color: #e45769;">
            <div class="img-container" style="background-image: url('../static/img/Ekibimiz/Ufuk Aşık.jpeg');">
              <div class="overlay">
                <div class="text" style="font-size: 12px;">ufuk.asik@kodegisim.org</div>
              </div>
            </div>
          </div>
        </div>
        <h6 class="text-center mt-3">Ufuk Aşık</h6>
        <p class="text-center mt-3 text-muted">Covid-19 Bilgi İletişim Ağı Arama Ekibi Üyesi</p>
      </div>


  -->

</div>
    <h4 class="text-center mb-4 mt-4">Yönetim Kurulu Üyeleri</h4>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="text-center">
          <div class="circle-3" style="background-image: url('../static/img/koda_logo.png');"></div>
          <div class="card-title-content">
            <h6 class="mb-2">Ali Sinan Kurmuş</h6>
            <div>
              Yönetim Kurulu Başkanı
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="text-center">
          <div class="circle-3" style="background-image: url('../static/img/koda_logo.png');"></div>
          <div class="card-title-content">
            <h6 class="mb-2">Ömer Özkan</h6>
            <div>
              Yönetim Kurulu Başkan Yardımcısı
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="text-center">
          <div class="circle-3" style="background-image: url('../static/img/koda_logo.png');"></div>
          <div class="card-title-content">
            <h6 class="mb-2">Gökçe Zeynep Kurmuş</h6>
            <div>
              Genel Sekreter
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="text-center">
          <div class="circle-3" style="background-image: url('../static/img/koda_logo.png');"></div>
          <div class="card-title-content">
            <h6 class="mb-2">Selim Hasan</h6>
            <div>
              Sayman
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="text-center">
          <div class="circle-3" style="background-image: url('../static/img/koda_logo.png');"></div>
          <div class="card-title-content">
            <h6 class="mb-2">Aslı Yalçın</h6>
            <div>
              Asıl Üye
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="text-center">
          <div class="circle-3" style="background-image: url('../static/img/koda_logo.png');"></div>
          <div class="card-title-content">
            <h6 class="mb-2">Derya Tombuloğlu</h6>
            <div>
              Asıl Üye
            </div>
          </div>
        </div>
      </div>
    </div>
    <h4 class="text-center mb-4 mt-4">Denetim Kurulu Üyeleri</h4>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="text-center">
          <div class="circle-3" style="background-image: url('../static/img/koda_logo.png');"></div>
          <div class="card-title-content">
            <h6 class="mb-2">Ali Yalman</h6>
            <div>
              Denetim Kurulu Başkanı
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="text-center">
          <div class="circle-3" style="background-image: url('../static/img/koda_logo.png');"></div>
          <div class="card-title-content">
            <h6 class="mb-2">İbrahim Betil</h6>
            <div>
              Asıl Üye
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="text-center">
          <div class="circle-3" style="background-image: url('../static/img/koda_logo.png');"></div>
          <div class="card-title-content">
            <h6 class="mb-2">M. Zekeriya Ürüm</h6>
            <div>
              Asıl Üye
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
