{% extends 'base.html' %}
{% load static %}
{% block title %} Ekibimiz {% endblock %}

{% block head %}
<style>
  .circle-1 {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    margin: 0px auto;
    padding-top: 20px;
  }

  .circle-2 {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    margin: 0px auto;
    padding-top: 20px;
  }

  .circle-3 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0px auto;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
  }

  .img-container {
    position: relative;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    margin: 0px auto;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    opacity: 0;
    transition: .5s ease;
    background-color: #fff;
  }

  .img-container:hover .overlay {
    opacity: .8;
  }

  .img-container .text {
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  h6 {
    font-size: 20px;
    font-weight: normal;
  }

  .card-title-content {
    padding: 1.2rem;
  }

  .card-title-content h6 {
    font-size: 18px;
    font-weight: bold;
  }

  .card-title-content div {
    font-size: 16px;
  }
  @media (min-width: 767.78px) and (max-width: 991.78px) {
        .col-md-4 {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    @media (max-width: 767.78px) {
        .col-md-4 {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
</style>
{% endblock %}

{% block body %}

<section class="page-section">
  <div class="container">
    <h4 class="mb-5 text-center">Ekibimiz</h4>
    <div class="row">
      {% for member in team %}
        <div class="col-md-4 mb-4">
          <div class="circle-1" style="background-color: #00926e ;">
            <div class="circle-2" style="background-color: #e45769 ;">
              <div class="img-container" style="background-image: url('../media/{{member.image}}');">
                <div class="overlay">
                  <div class="text small" style="font-size: 12px;"> {{member.email}}   </div>
                </div>
              </div>
            </div>
          </div>
          <h6 class="text-center mt-3">{{member.name}}</h6>
          <p class="text-center mt-3 text-muted">{{member.title}}</p>
        </div>
      {% endfor %}

    </div>
    <h4 class="text-center mb-4 mt-4">Yönetim Kurulu Üyeleri</h4>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="text-center">
          <div class="circle-3" style="background-image: url('../static/img/koda_logo.png');"></div>
          <div class="card-title-content">
            <h6 class="mb-2">Ali Sinan Kurmuş</h6>
            <div>
              Yönetim Kurulu Başkanı
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="text-center">
          <div class="circle-3" style="background-image: url('../static/img/koda_logo.png');"></div>
          <div class="card-title-content">
            <h6 class="mb-2">Ömer Özkan</h6>
            <div>
              Yönetim Kurulu Başkan Yardımcısı
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="text-center">
          <div class="circle-3" style="background-image: url('../static/img/koda_logo.png');"></div>
          <div class="card-title-content">
            <h6 class="mb-2">Gökçe Zeynep Kurmuş</h6>
            <div>
              Genel Sekreter
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="text-center">
          <div class="circle-3" style="background-image: url('../static/img/koda_logo.png');"></div>
          <div class="card-title-content">
            <h6 class="mb-2">Selim Hasan</h6>
            <div>
              Sayman
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="text-center">
          <div class="circle-3" style="background-image: url('../static/img/koda_logo.png');"></div>
          <div class="card-title-content">
            <h6 class="mb-2">Aslı Yalçın</h6>
            <div>
              Asıl Üye
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="text-center">
          <div class="circle-3" style="background-image: url('../static/img/koda_logo.png');"></div>
          <div class="card-title-content">
            <h6 class="mb-2">Derya Tombuloğlu</h6>
            <div>
              Asıl Üye
            </div>
          </div>
        </div>
      </div>
    </div>
    <h4 class="text-center mb-4 mt-4">Denetim Kurulu Üyeleri</h4>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="text-center">
          <div class="circle-3" style="background-image: url('../static/img/koda_logo.png');"></div>
          <div class="card-title-content">
            <h6 class="mb-2">Ali Yalman</h6>
            <div>
              Denetim Kurulu Başkanı
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="text-center">
          <div class="circle-3" style="background-image: url('../static/img/koda_logo.png');"></div>
          <div class="card-title-content">
            <h6 class="mb-2">İbrahim Betil</h6>
            <div>
              Asıl Üye
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="text-center">
          <div class="circle-3" style="background-image: url('../static/img/koda_logo.png');"></div>
          <div class="card-title-content">
            <h6 class="mb-2">M. Zekeriya Ürüm</h6>
            <div>
              Asıl Üye
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
