{% extends 'base.html' %}
{% load static %}

{% block head %}
<style>
  .circle-1 {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    margin: 0px auto;
    padding-top: 20px;
  }

  .circle-2 {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    margin: 0px auto;
    padding-top: 20px;
  }

  .circle-3 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0px auto;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
  }

  .img-container {
    position: relative;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    margin: 0px auto;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    opacity: 0;
    transition: .5s ease;
    background-color: #fff;
  }

  .img-container:hover .overlay {
    opacity: .8;
  }

  .img-container .text {
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  h6 {
    font-size: 20px;
    font-weight: normal;
  }

  .card-title-content {
    padding: 1.2rem;
  }

  .card-title-content h6 {
    font-size: 18px;
    font-weight: bold;
  }

  .card-title-content div {
    font-size: 16px;
  }
  @media (min-width: 767.78px) and (max-width: 991.78px) {
        .col-md-4 {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    @media (max-width: 767.78px) {
        .col-md-4 {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
</style>
{% endblock %}

{% block body %}

<section class="page-section">
  <div class="container">
    <h4 class="mb-5 text-center">Eğitmenlerimiz</h4>
    <div class="row">

        {% for trainer in trainers %}


      <div class="col-md-4 mb-4">
        <div class="circle-1" style="background-color: #00926e ;">
          <div class="circle-2" style="background-color: #e45769 ;">
            <div class="img-container" style="background-image: url('../media/{{trainer.image}}');">
            </div>
          </div>
        </div>
        <h6 class="text-center mt-3">{{trainer.name}}</h6>
        <p class="text-center mt-3 text-muted">{{trainer.title}}</p>
      </div>



    {% endfor %}

    </div>
    <h4 class="text-center mb-4 mt-4">Danışmanlarımız</h4>
    <div class="row">
       {% for consultant in consultants %}


      <div class="col-md-4 mb-4">
        <div class="circle-1" style="background-color: #00926e ;">
          <div class="circle-2" style="background-color: #e45769 ;">
            <div class="img-container" style="background-image: url('../media/{{consultant.image}}');">
            </div>
          </div>
        </div>
        <h6 class="text-center mt-3">{{consultant.name}}</h6>
        <p class="text-center mt-3 text-muted">{{consultant.title}}</p>
      </div>



    {% endfor %}

  </div>
</section>

{% endblock %}