{% extends 'base.html' %}
{% load static %}
{% block title %} Yayınlarımız {% endblock %}
{% block head %}

<style>
    .card-shadow-green {
        border-radius: 5px;
        -webkit-box-shadow: 0 0.46875rem 2.1875rem rgba(28, 202, 167, .03), 0 0.9375rem 1.40625rem rgba(28, 202, 167, .03), 0 0.25rem 0.53125rem rgba(28, 202, 167, .05), 0 0.125rem 0.1875rem rgba(28, 202, 167, .03);
        box-shadow: 0 0.46875rem 2.1875rem rgba(28, 202, 167, .03), 0 0.9375rem 1.40625rem rgba(28, 202, 167, .03), 0 0.25rem 0.53125rem rgba(28, 202, 167, .05), 0 0.125rem 0.1875rem rgba(28, 202, 167, .03);
        max-width: 320px;
    }

    .card-shadow-green:hover {
        -webkit-box-shadow: 0 0.8rem 4rem rgba(179, 179, 179, .2), 0 1.8rem 2.8rem rgba(179, 179, 179, .2), 0 0.5rem 1rem rgba(179, 179, 179, .2), 0 0.25rem 0.3rem rgba(179, 179, 179, .2);
        box-shadow: 0 0.8rem 4rem rgba(179, 179, 179, .2), 0 1.8rem 2.8rem rgba(179, 179, 179, .2), 0 0.5rem 1rem rgba(179, 179, 179, .2), 0 0.25rem 0.3rem rgba(28, 202, 167, .2);
    }

    @media (min-width: 767.78px) and (max-width: 991.78px) {
        .intro-card-row .col-md-3 {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    @media (max-width: 767.78px) {
        .intro-card-row .col-md-3 {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }

    .card-shadow-green {
        border-radius: 5px;
        background: rgb(242, 242, 242, .5);
        -webkit-box-shadow: 0 0.46875rem 2.1875rem rgba(28, 202, 167, .03), 0 0.9375rem 1.40625rem rgba(28, 202, 167, .03), 0 0.25rem 0.53125rem rgba(28, 202, 167, .05), 0 0.125rem 0.1875rem rgba(28, 202, 167, .03);
        box-shadow: 0 0.46875rem 2.1875rem rgba(28, 202, 167, .03), 0 0.9375rem 1.40625rem rgba(28, 202, 167, .03), 0 0.25rem 0.53125rem rgba(28, 202, 167, .05), 0 0.125rem 0.1875rem rgba(28, 202, 167, .03);

    }

  .card-shadow-green:hover {
    -webkit-box-shadow: 0 0.8rem 4rem rgba(179, 179, 179, .2), 0 1.8rem 2.8rem rgba(179, 179, 179, .2), 0 0.5rem 1rem rgba(179, 179, 179, .2), 0 0.25rem 0.3rem rgba(179, 179, 179, .2);
    box-shadow: 0 0.8rem 4rem rgba(179, 179, 179, .2), 0 1.8rem 2.8rem rgba(179, 179, 179, .2), 0 0.5rem 1rem rgba(179, 179, 179, .2), 0 0.25rem 0.3rem rgba(28, 202, 167, .2);
  }

  .card-title-content,
  .card-body-content {
    padding: 1.2rem;
  }

  .card-title-content h6 {
    font-size: 18px;
    color: white;
  }

  .card-body-content div {
    font-size: 16px;
  }

  .card-body-content i {
    color: #fab537;
  }

  .card-body-content a {
    color: #404040;
  }




figure {
  display:flex;
}

.card-shadow-green img {
  width: 320px;
  height: 250px;
  border: 1px solid #999;
  object-fit: cover;
  object-position: 50% 15%;
}


</style>

{% endblock %}

{% block body %}

<section class="page-section">
    <div class="container">
        <h4 class="mb-4 text-center">Yayınlarımız</h4>

            <div class="row intro-card-row mt-5">
                {% for x in  yayinlarimiz %}
                 <div class="col-md-4 mb-4">
                    <div class="card-shadow-green text-center">
                        <h6 style="text-align:center">{{x.title}}</h6>
                        <a href="/media/{{x.pdf}}">
                                <figure>
                                  <img src="/media/{{ x.image }}" alt="">
                                </figure>

                        </div>
                        </a>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
</section>



{% endblock %}