{% extends 'base.html' %}
{% load static %}
{% block head %}

<style>
    .card-shadow-green {
        border-radius: 5px;
        -webkit-box-shadow: 0 0.46875rem 2.1875rem rgba(28, 202, 167, .03), 0 0.9375rem 1.40625rem rgba(28, 202, 167, .03), 0 0.25rem 0.53125rem rgba(28, 202, 167, .05), 0 0.125rem 0.1875rem rgba(28, 202, 167, .03);
        box-shadow: 0 0.46875rem 2.1875rem rgba(28, 202, 167, .03), 0 0.9375rem 1.40625rem rgba(28, 202, 167, .03), 0 0.25rem 0.53125rem rgba(28, 202, 167, .05), 0 0.125rem 0.1875rem rgba(28, 202, 167, .03);
        max-width: 320px;
    }

    .card-shadow-green:hover {
        -webkit-box-shadow: 0 0.8rem 4rem rgba(179, 179, 179, .2), 0 1.8rem 2.8rem rgba(179, 179, 179, .2), 0 0.5rem 1rem rgba(179, 179, 179, .2), 0 0.25rem 0.3rem rgba(179, 179, 179, .2);
        box-shadow: 0 0.8rem 4rem rgba(179, 179, 179, .2), 0 1.8rem 2.8rem rgba(179, 179, 179, .2), 0 0.5rem 1rem rgba(179, 179, 179, .2), 0 0.25rem 0.3rem rgba(28, 202, 167, .2);
    }
    @media (min-width: 767.78px) and (max-width: 991.78px) {
        .intro-card-row .col-md-3 {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    @media (max-width: 767.78px) {
        .intro-card-row .col-md-3 {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
</style>

{% endblock %}

{% block body %}

<section class="page-section">
    <div class="container">
        <h4 class="mb-4 text-center">Yayınlarımız</h4>
        <!-- <div class="w-100">
            <div class="card-shadow-green text-center d-flex justify-content-center align-items-center"
                style="background-color: #fab537;width: 120px;height: 120px; margin: 0px auto;">
                <a a href="{% static 'yayinlarimiz.pdf' %}" target="_blank">
                    <img id="comp-jt6ex3z9imgimage" data-type="image" itemprop="image"
                        src="{% static 'img/icons-pdf.png' %}">
                </a>
            </div>
        </div>
        <div class="text-center mt-4">
            <strong>KODA Saha Araştırma Raporu - Öğretmen Gözünden Köy Okulları ve
                Köy Öğrencileri: Avantajlar, Problemler ve Çözüm Önerileri
            </strong>
            <div class="mt-2">
                KODA olarak hazırladığımız bu rapor, yürüttüğümüz çalışmaların somut ihtiyaçlara yanıt olabilmesi
                için hazırlanmıştır ve 2016 yılında yapılan saha araştırma verilerini kapsamaktadır. KODA bu
                araştırma ile önceliğin öğretmenlere ve öğretmenlerin kişisel ve mesleki değerlendirmelerine
                verilmesini amaçlamıştır.
                Katkı olmasını dileriz...
            </div>
        </div> -->
        <div class="row intro-card-row mt-5">
            <div class="col-md-3 mb-4">
                <div class="card-shadow-green text-center d-flex justify-content-center align-items-center"
                    style="background-color: #e45769;width: 120px;height: 120px;margin: 0px auto; ">
                    <a href="{% static 'birlestirilmis_sınıflı_koy_okulları_etkinlik_kitabi _2019.pdf' %}" target="_blank">
                        <img data-type="image" itemprop="image" src="{% static 'img/icons-pdf.png' %}">
                    </a>
                </div>
                <div class="mt-3 text-center">
                    <strong> Birleştirilmiş Sınıflı Köy Okulları için Etkinlik Kitabı 2019</strong>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card-shadow-green text-center d-flex justify-content-center align-items-center"
                    style="background-color: #00926e;width: 120px;height: 120px;margin: 0px auto; ">
                    <a href="{% static 'koy_ogretmenlerinin_basucu_kitabi_2019.pdf' %}" target="_blank">
                        <img data-type="image" itemprop="image" src="{% static 'img/icons-pdf.png' %}">
                    </a>
                </div>
                <div class="mt-3 text-center">
                    <strong>Köy Öğretmeninin Başucu Kitabı 2019</strong>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card-shadow-green text-center d-flex justify-content-center align-items-center"
                    style="background-color: #fab537;width: 120px;height: 120px;margin: 0px auto; ">
                    <a  href="{% static 'cocuk_atolyeleri_rehberi_2019.pdf' %}" target="_blank">
                        <img id="comp-jt6ex3z9imgimage" data-type="image" itemprop="image"
                            src="{% static 'img/icons-pdf.png' %}">
                    </a>
                </div>
                <div class="mt-3 text-center">
                    <strong>Çocuk Atölyeleri Rehberi 2019-2020</strong>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card-shadow-green text-center d-flex justify-content-center align-items-center"
                    style="background-color: #034080;width: 120px;height: 120px;margin: 0px auto; ">
                    <a href="{% static 'koda_saha_arastırma_raporu.pdf' %}" target="_blank">
                        <img id="comp-jt6ex3z9imgimage" data-type="image" itemprop="image"
                            src="{% static 'img/icons-pdf.png' %}">
                    </a>
                </div>
                <div class="mt-3 text-center">
                    <strong>KODA Saha Araştırma Raporu Öğretmenin Gözünden Köy Okulları ve Köy Öğrencileri</strong>
                </div>

            </div>
        </div>
    </div>
</section>



{% endblock %}