{% extends 'base.html' %}
{% load static %}
{% block head %}



{% endblock %}

{% block body %}
<section class="content-section bg-light" id="about">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading hinty bluer h-size">Hakkımızda</h2>

        <p class="monty bluer n-size">Köy Okulları Değişim Ağı (KODA) fikri, çoğu zaman yoksunluklarıyla gündeme gelen köy okullarının, aslında hayalimizdeki eğitim için büyük fırsatlar sunabileceği inancıyla ortaya çıktı.
Türkiye’nin dört bir yanındaki köylerde çalışan idealist öğretmenler, eşit eğitimin gücüne inanan eğitmenler, değişime inancı tam eğitim gönüllüleri olarak bir araya geldik.
Yola çıktık,  bu yolun adını da KODA koyduk. <br> <br>
            <h5 class="section-heading hinty bluer h-size" >Vizyonumuz</h5>
            <p class="monty bluer n-size">
Her bireyin doğayla bütünleşik şekilde kendini keşfedebildiği ve gerçekleştirebildiği bir dünyayı, sürdürülebilir eğitim ekosistemleri üzerinden, birlikte gerçekleştirmek.
            <br>
            <h5 class="section-heading hinty bluer h-size" >Misyonumuz</h5>
            <p class="monty bluer n-size">
Türkiye'nin köy okullarında kırsaldaki koşullara uygun, bütünsel ve nitelikli bir eğitimi
gerçek kılmak. <br>
                <br>
            <h5 class="section-heading hinty bluer h-size">Hedeflerimiz</h5>
            <p class="monty bluer n-size">
                - Köylerdeki fırsatları değerlendirerek - fakat sorunları da görmezden gelmeden <br>

                - Köy okullarındaki eğitimin kalitesini artıracak çocuk merkezli, yenilikçi örnek uygulamaları ortaya çıkarmak ve yaygınlaştırmak.
                <br>
​
                - Köy öğretmenlerini kişisel ve mesleki açıdan güçlendirmek. <br>

                - Köy okullarında değişime öncülük edebilecek, birbirine ilham veren, destek olan ve büyüyen bir öğretmen ve gönüllü topluluğunun ortaya çıkmasına öncülük etmek.

            <h5 class="section-heading hinty bluer h-size" >KODA Sözlük</h5>
                        <p class="monty bluer n-size">
                <strong>Kendini keşfetmek: </strong>Bireylerin sahip oldukları arzu ve yetkinliklerinin farkında olmaları.
                            <br>

                            <strong>Kendini gerçekleştirmek:</strong> Bireylerin doğuştan sahip olduğu yetkinliklerini keşfetmelerinin ardından, ulaşmak istedikleri hedeflere doğru yine keşfettikleri yetilerinden yararlanarak varmak için çaba göstermeleri.

                            <br> <strong>Sürdürülebilirlik:</strong> Öz kaynaklarından beslenerek, kendi kendine yetebilmek üzere ihtiyaç duyulan kaynağı da üretebilmek.

                            <br> <strong>Eğitim ekosistemi:</strong> Eğitimin öznesi olan birey, onun şekillenmesinde rol alan aktörler (öğretmen, aile, akrabalar, komşular... ) kısacası etkileşimde olduğu canlı cansız her varlık, her nesne, eğitim ekosistemini oluşturur.

                            <br> <strong> Kırsaldaki koşullara uygun eğitim: </strong>Birey kendini gerçekleştirirken karşısına çıkan durumlardaki davranışlarının şekillenmesi bulunduğu mekan ve imkanlarla da ilişkilidir. Kırsaldaki koşullara uygun eğitim, kırsaldaki imkan ve imkansızlıkların farkına varılarak ve analizlerinin yapılarak eğitim sürecinin bu koşullara uygun olarak tasarlandığı eğitimdir.

                            <br> <strong>Bütünsel eğitim: </strong>Bireylerin bilişsel, sosyal, duygusal, fiziksel ve ruhsal olarak her açıdan gelişebilmelerini destekleyici bir eğitim anlayışıdır.

                            <br> <strong>Nitelikli eğitim: </strong>Bireylerin kendini gerçekleştirmesi sürecinde ihtiyaç duyduğu eğitimdir. Nicel olmaktan öte nitel değişim önceliği güder. Süreç odaklıdır.
                <h5 class="section-heading hinty bluer h-size">KODA Saha Araştırma Raporu 'Öğretmen Gözünden Köy Okulları ve Köy Öğrencileri'</h5>
            <p class="monty bluer n-size">
                KODA olarak hazırladığımız bu rapor; yürüttüğümüz çalışmaların, somut ihtiyaçlara yanıt olabilmesi arzusundan doğmuştur. Rapor; 2016 yılında yapılan saha araştırma verilerini kapsamaktadır. KODA bu araştırma ile önceliğin; öğretmenlere ve onların kişisel ve mesleki değerlendirmelerine verilmesini amaçlamıştır. Katkı olmasını dileriz.

                <br>
            </p>
                        <a href="{% static 'ogretmen_gozunden.pdf' %}" style="color:#034080 !important; font-weight: normal;"  target="_blank">
                            <img id="comp-jt6ex3z9imgimage" alt="KODA Çocuk Atölyeleri El Rehberi.pdf" data-type="image" itemprop="image" src="https://static.wixstatic.com/media/40d80b8089c8418a961cb75d96d491f7.png/v1/fill/w_147,h_197,al_c,lg_1,q_80/40d80b8089c8418a961cb75d96d491f7.webp" style="width: 291px; height: 112px; object-fit: contain;">
                        <br> <label class="monty bluer n-size">Öğretmen Gözünden Köy Okulları ve Köy Öğrencileri: Avantajlar, Problemler ve Çözüm Önerileri </label></a>
            </div>

        </div>
      </div>
    </div>
  </section>


{% endblock %}
