{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}

{% block body %}

<section class="page-section">
    <div class="container">
         <div class="col-lg-12 text-center">
            <h2 class="h-size hinty bluer">Bize Nasıl Destek Olabilirsiniz? </h2><br>
      <div class="row">
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#bagisModal1">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
              </div>
            </div>
          </a>
        </div>
      </div>
            <div class="row text-left">
                <a href="{% url 'bagis_detay' %}" style="color:white;" ><button class="btn btn-success n-size bluer monty"style="background-color:#034080;width:200px; height:125px;margin-left:27%;" >KODA'ya Bağışta <br> Bulunmak İstiyorum</a></button>
                <br><br>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLScmjiVxvdWRjIHTdk1PIaGyTHlbYkc05tqDHJMhSfACFh75xA/viewform" style="color:white;" ><button class="btn btn-success n-size bluer monty" style="background-color:#034080;width:200px; height:125px; margin-left:10%;" ><a href="{% url 'isbirligi' %}" style="color:white;">Koda ile İşbirliği <br> Yapmak İstiyorum</a></button>
            </div>
             <br><br><br>
             <a href="https://docs.google.com/forms/d/e/1FAIpQLScmjiVxvdWRjIHTdk1PIaGyTHlbYkc05tqDHJMhSfACFh75xA/viewform" style="color:white;" ><div class="row"> <br><br><button class="btn btn-success n-size bluer monty" style="background-color:#034080;width:200px; height:125px;margin-left:27%;" ><a href="https://docs.google.com/forms/d/e/1FAIpQLScmjiVxvdWRjIHTdk1PIaGyTHlbYkc05tqDHJMhSfACFh75xA/viewform"   style="color:white;" >Öğretmenim,<br> Bu Ağın  Bir <br>Parçası Olmak <br> İstiyorum</a></button>
             <br><br>
                 <a href="{% url 'bagis_detay' %}" style="color:white;" ><button class="btn btn-success n-size bluer monty" style="background-color:#034080;width:200px; height:125px;margin-left:10%;" > <a href="{% url 'sponsor' %}" style="color:white;">KODA'ya
                 Sponsor Olmak <br> İstiyorum </button>
                 </a>

                 <br><br>
                                 <a href="{% url 'koda_gonullusu' %}" style="color:white;" ><button class="btn btn-success n-size bluer monty"style="background-color:#034080;width:200px; height:125px;margin-left:40%; margin-top:5%;" >KODA Gönüllüsü Olmak İstiyorum</a></button>
                <br><br>


</div>
             <br>


                   <h2 class="h-size bluer hinty"></h2>
      <br><br>



               <p class="monty n-size bluer">
      KODA'nın kurulduğu günden bu yana bizlerle birlikte olan, bize gerek saha, gerekse ofis faaliyetlerimizde çokça desteği ve katkısı dokunmuş o kadar çok isim var ki… Onların desteğini her zaman yanımızda hissediyoruz ve bu bize çok daha fazla cesaret ve güç veriyor.


                 <br>2019-2020 yılı faaliyetlerimizde bize destek olmak üzere birlikte yol alacağımız gönüllülerimiz belli oldu. İlginize çok teşekkür ediyoruz.

                 <br>Bir sonraki yılın gereksinimlerini, 2020 Temmuz ayında yeniden değerlendirerek, bu sayfadan ve sosyal medya kanallarımızdan duyuracağız.  O zamana kadar bilgilerinizin kayıt altında bulunmasını isterseniz  aşağıdaki formu doldurabilirsiniz.
                 <br><br></p>
                 <label style="font-size:20px; text-align:center !important;"><i> <a href="https://forms.gle/1umCWCBj39J7vMQV8" style="color:#034080; text-align:center !important;">https://forms.gle/1umCWCBj39J7vMQV8</a></i></label>



             <br><br><br>
              <div class="row">
        <div class="col-lg-12">
           <h2 class="h-size hinty bluer">Bize Katılmak İster Misiniz? </h2><br>
​
            <p style="text-align:left !important;"><a style="color:#034080; font-size:20px; text-align:left !important;" href="https://docs.google.com/forms/d/e/1FAIpQLSetzMePJwlEmW8vdHDeJpXlIEF3iDhNI0CsaG8941yTBhQj-g/viewform">Genel Başvuru</a></p>







            <!--<img class="img-fluid" style="width:250px; height:250px;" src="{% static 'plane.png' %}" alt="">
          </a>
          <div class="portfolio-caption">
            <h4 style="font-family:Hind;color:#034080 !important;">Uçak biletleri</h4>
            <p style="font-family:montserrat;color:#034080 !important;">Uçak...</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#bagisModal2">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
              </div>
            </div>
            <img class="img-fluid" style="width:250px; height:250px;" src="{% static 'bus.png' %}" alt="">
          </a>
          <div class="portfolio-caption">
            <h4 style="font-family:Hind;color:#034080 !important;">Otobüs biletleri</h4>
            <p style="font-family:montserrat;color:#034080 !important;">Otobüs yolculuğu</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#bagisModal3">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
              </div>
            </div>
            <img class="img-fluid" style="width:250px; height:250px;" src="{% static 'hotel.png' %}" alt="">
          </a>
          <div class="portfolio-caption">
            <h4 style="font-family:Hind;color:#034080 !important;">Konaklama</h4>
            <p style="font-family:montserrat;color:#034080 !important;">Otel giderleri...</p>
          </div>
        </div>


      </div>
    </div>
<div class="portfolio-modal modal fade" id="bagisModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-4 mx-auto">
              <div class="modal-body">
                <p class="item-intro text-muted"></p>
                <img class="img-fluid d-block mx-auto" style="width:250px;height:250px;"src="{% static 'portfolio1.webp' %}" alt="">
                <p>Köy Öğretmenleri Projesi”nin ana destekçisi Sabancı Vakfı’dır.

Proje kapsamında yürütülen “Çocuk Atölyeleri”ni ise Dalyan Vakfı desteklemektedir.</p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="portfolio-modal modal fade" id="bagisModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-4 mx-auto">
              <div class="modal-body">
                <h2 class="text-uppercase">Otobüs biletleri</h2>
                <p class="item-intro text-muted">Köy Öğretmenleri Projesi kapsamda gerçekleştirdiğimiz üç ana faaliyetimiz bulunuyor.</p>
                <img class="img-fluid d-block mx-auto" src="{% static 'portfolio1.webp' %}" alt="">
                <p>Köy Öğretmenleri Projesi”nin ana destekçisi Sabancı Vakfı’dır.

Proje kapsamında yürütülen “Çocuk Atölyeleri”ni ise Dalyan Vakfı desteklemektedir.</p>--!>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
      <div class="portfolio-modal modal fade" id="bagisModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-4 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Konaklama</h2>
                <p class="item-intro text-muted">Köy Öğretmenleri Projesi kapsamda gerçekleştirdiğimiz üç ana faaliyetimiz bulunuyor.</p>
                <img class="img-fluid d-block mx-auto" src="{% static 'portfolio1.webp' %}" alt="">
                <p>Köy Öğretmenleri Projesi”nin ana destekçisi Sabancı Vakfı’dır.

Proje kapsamında yürütülen “Çocuk Atölyeleri”ni ise Dalyan Vakfı desteklemektedir.</p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  </section>

{% endblock %}
