{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}

{% block body %}



<section class="page-section" style="line-height: 1.5;">
  <div class="container">
    <h4 class="text-center mb-4">Birleştirilmiş Sınıflarda Görev Alan Köy Öğretmenlerinin Mesleki Gelişim
      Programı (BSMG)</h4>
    <div class="text-center mb-4">Milli Eğitim Bakanlığı Öğretmen Yetiştirme ve Geliştirme Genel Müdürlüğü ve
      Sabancı Vakfı ile imzaladığımız protokol kapsamında geliştirdiğimiz programda, köy
      öğretmenlerinin mesleki ve kişisel yönden desteklenmesini amaçlıyoruz.</div>
    <div >
      <b class="mr-2" style="font-size: 20px;color:#034080;">Neden?</b>Birleştirilmiş sınıflı köy okullarında görev
      yapan köy öğretmenleri;
      okullarında genelde çok az sayıda öğretmenle çalışıyor, bazen tek öğretmen oluyor,
      mesleklerinin ilk yıllarında birleştirilmiş sınıflarla tanışıyorlar. Bu öğretmenlerin
      tamamına ulaşmak için kapsamlı bir eğitim planı, uzmanlar ve deneyimli
      öğretmenlerle hazırlanmış kaynak kitaplar ve tüm bunların yaygınlaşıp gelişebileceği
      güçlü bir işbirliği gerektiğini düşünüyoruz.
    </div>
    <br>
    <div >
      <b class="mr-2" style="font-size: 20px;color:#00926e ;">Nasıl?</b>Birleştirilmiş sınıflarda görev alan veya
      birleştirilmiş sınıf deneyimi olan
      öğretmenlerin, düzenlediğimiz eğitici eğitimleri ile eğitmen olmalarını ve eğitmen
      olduktan sonra kendi bölgelerinde birleştirilmiş sınıf okutan köy öğretmenlerine 2
      günlük eğitimler vermelerini hedefliyoruz. Bu eğitimler sayesinde Türkiye’nin her
      yerindeki köy öğretmenlerine ulaşarak ve aynı zamanda “Birleştirilmiş Sınıflı Köy
      Okulları için Etkinlik Kitabı” ve “Köy Öğretmeninin Başucu Kitabı” içerikleri ile
      öğretmenleri mesleki ve kişisel yönden destekleyerek akran eğitim modeliyle
      birleştirilmiş sınıflı köy okullarında görev alan tüm öğretmenleri güçlendirmeyi ve
      köyde eğitime dair motive etmeyi amaçlıyoruz.
    </div>
    <br>
    <div >
      <b class="mr-2" style="font-size: 20px;color:#e45769 ;">Neler Yapıyoruz?</b>
      <div>
        <h6 class="my-3">Birleştirilmiş Sınıflarda Görev Yapan Köy Öğretmenlerinin Mesleki
          Kapasitelerini Geliştirme Eğitici Eğitimi Kursu</h6>
        <div class="mb-3">
          Kurs, temel seviye ve ileri seviye olmak üzere iki düzeyden oluşuyor. Kursa katılan
          öğretmenlerin şuan birleştirilmiş sınıf okutan bir köy öğretmeni olması veya geçmiş
          senelerde birleştirilmiş sınıf deneyimi olan öğretmenler olması bekleniyor. Temel
          seviye ve ileri seviye kurslarını başarıyla tamamlayan öğretmenler, program dahilinde
          eğitmen oluyorlar ve kendi bölgelerinde görev yapan köy öğretmenlerine 2 günlük
          kurs vermeye hazır hale geliyorlar.
        </div>
        <div>
          Temel seviye ve ileri seviye kurslarında Birleştirilmiş Sınıflarda Sınıf Yönetimi ve
          Planlama, Birleştirilmiş Sınıflarda Öğretim Yöntem ve Teknikleri, Birleştirilmiş
          Sınıflarda Sanatsal Beceriler, Birleştirilmiş Sınıflarda Öğrenme, Birleştirilmiş
          Sınıflarda Kapsayıcı Eğitim, Birleştirilmiş Sınıflarda Ölçme ve Değerlendirme,
          Doğada Öğrenme, Okul, Aile ve Köy İlişkileri, Kırsal Kalkınma, Yaratıcı Drama,
          Hikaye Anlatıcılığı, Görsel Sanatlar ve Müzik, Hazırlık Eğitimi, Yetişkin Eğitimi
          konularında toplamda 2 haftalık eğitimler veriliyor. Eğitimlere ek olarak öğretmenlerle
          çeşitli sosyal aktiviteler de gerçekleştiriliyor.
        </div>
      </div>
    </div>
    <div>
      <h5 class="my-3">İçerik Geliştirme</h5>
      Öğretmenler, akademisyenler, uzmanlar ve gönüllüler ile düzenlediğimiz çalıştaylar
      sayesinde hazırladığımız “Köy Öğretmeninin Başucu Kitabı” ve “Birleştirilmiş Sınıflı
      Köy Okulları için Etkinlik Kitabı” içeriklerimiz sayesinde, Türkiye’nin her yerindeki köy
      öğretmenlerine ulaşıyoruz.
    </div>
  </div>
</section>

{% endblock %}