{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}

{% block body %}

<section class="page-section">
    <div class="container">

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Contact Section Form -->
      <div class="row">

   <div class="col-lg-6">

           <address>
             <p class="monty n-size bluer"> <b>KÖY OKULLARI DEĞİŞİM AĞI DERNEĞİ</b>

              <br>
             Fatura ve Kargo Gönderim Adresimiz
              <br> Murat Reis Mah. Gazi Cad. No:79
             <br>Bağlarbaşı/Üsküdar İSTANBUL
              <br> <abbr title="Phone">Sabit Hat:</abbr> 0216 343 73 43
            </address>

            <address>
              <strong class="monty n-size bluer">E-posta:</strong><br>
              <a href="mailto:#" class="monty n-size bluer">bilgi@kodegisim.org</a>
            </address>
   </p>
           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3010.053476284475!2d29.02984331564218!3d41.024085979299166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDHCsDAxJzI2LjciTiAyOcKwMDEnNTUuMyJF!5e0!3m2!1str!2str!4v1578861495383!5m2!1str!2str"  width="360" height="280" frameborder="0" style="border:0" allowfullscreen=""></iframe>


         </div>

                <div class="col-lg-6 monty bluer n-size">
      <h2 class="page-section-heading text-center hinty bluer h-size" >Bize Ulaşın</h2>

          <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
          <form method="post" class="lang" key="form">
            {% csrf_token %}
            {{form.as_p}}
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-xl lang" id="sendMessageButton" key="sendbutton" style="background-color: #034080;color:white;font-family:montserrat;">Gönder</button>
            </div>
          </form>
        </div>
          <div class="footer-copyright text-center py-3" style="margin-top:100px;!important;">
     <h4 class="hinty bluer h-size">Hesap Bilgilerimiz</h4><br>
              <p class="monty n-size bluer">
    <b>TL: TR720004600020888000430464</b> <br>
    Önemli not: EFT yaparken alıcı kısmına "Köy Okulları Değişim Ağı Derneği" yazınız. KODA gibi kısaltmalar kullanmanız durumunda EFT talimatı banka tarafından geri çevrilmektedir.  Detaylar için: https://www.kodegisim.org/bagis

    </p>
  </div>
  <!-- Copyright -->

</footer>
      </div>


  </section>

{% endblock %}
