{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}

{% block body %}


<section class="page-section">
    <div class="container">
         <div class="col-lg-12 text-center">
            <h2 class="hinty bluer h-size">Değerlerimiz </h2><br>
                <div class="row">
                    <p class="monty bluer n-size">
                        <strong>Bütünsellik:</strong> KODA, insanı doğanın bir parçası ve sosyal, duygusal, fiziksel, bilişsel ve ruhsal yönleriyle bir bütün olarak görür.
                        <br> <br> <strong>Kapsayıcılık: </strong>KODA, çeşitliliği ve beraberinde gelen farklılıkları kabul eder. Faaliyetlerinin herkesin katılımına alan açması için emek verir.
                        <br> <br> <strong>Adalet:</strong> KODA, tüm bireylerin içinde bulundukları koşullara uygun olarak, ihtiyaç duydukları kaynaklara erişimlerinde tarafsızlığı gözetir.
                        <br> <br> <strong>Sürdürülebilirlik:</strong> KODA, değişimlere ve yeniliklere açık, esnek ve süreç odaklı olmaya özen gösterir. Bulunduğu alanın koşullarına uygun ve sürdürülebilir etkiyi hedefleyerek faalyetlerinin model niteliği taşımasını önceliklendirir.
                        <br> <br><strong>Dayanışma:</strong> KODA için erişilebilir ve verimli bir dayanışma ağının gerekleri açık iletişim ve gönüllülüktür.
                        <br> <br> <strong>Tarafsızlık:</strong> KODA, kimseden taraf değildir. KODA tarafsızlık ilkesini benimseyerek ortaklıklar kurmayı hedefler. Etrafında bir araya geldiği kişiler, kurumlar, dernekler vb. oluşumların kimliklerinde ve dernekteki faaliyetlerinde şeffaftır.







        </div>
         </div>
    </div>
</section>


{% endblock %}
