{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}

{% block body %}


<section class="page-section">
        <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="hinty bluer h-size">Geçmiş Faaliyetler<br></h2>

           <h4 class="section-subheading hinty bluer h-size "><br><br> 2018- 2019 Eğitim-Öğretim Dönemi</h4>

          <br> <label class="bluer hinty"><strong>Gönüllü Destek Ağı</strong></label><br>
         <p class="monty bluer n-size">


            Şanlıurfa- Harran’da görev yapan köy okulu öğretmenlerini desteklemek için 2018- 2019 Eğitim - Öğretim Dönemi'nde gönüllü ekiplerle birlikte yol aldık.



Bu ağın içinde bulunan 6 adet gönüllü grubumuz,  Harran’daki köylerde görev yapan 3 öğretmenimizle etkileşime geçerek öğretmenlerin ihtiyaç duydukları konularda onlara destek olmayı ve çocukları çeşitli atölyelerle buluşturdular.


          <br> * NOT EKLENECEKTİR
           <br>
                   </p>



        <h4 class="section-subheading hinty bluer h-size"><br><br>2017- 2018 Eğitim-Öğretim Dönemi</h4>

          <br> <label class="hinty bluer n-size"><strong>Şanlıurfa/Harran “Birleştirilmiş Sınıflar için Birleşmiş Öğretmenler Projesi"</strong></label>
                    <p class="monty bluer n-size">

          Birleştirilmiş Sınıflar için Birleşmiş Öğretmenler Projesi, 2017-2018 eğitim- öğretim döneminde, Şanlıurfa-Harran bölgesindeki köy okulu öğretmenlerini güçlendirmek için, Sabancı Vakfı Hibesiyle desteklenmiştir.

    Proje süresi boyunca, katılımcı okullardan çıkan örnek uygulamalar, Türkiye’deki diğer köy okulu öğretmenlerini desteklemesi için KODA web sayfasında paylaşılmıştır. 2017- 2018 eğitim-öğretim döneminde projemize katılan öğretmenlerimizin paylaşımlarına ulaşmak için tıklayınız.
           <br>

           * NOT EKLENECEKTİR



         </p>
          <h4 class="section-subheading hinty bluer h-size"><br><br>2016- 2017 Eğitim-Öğretim Dönemi</p></h4>

         <p class="monty bluer n-size">
               Bayburt/ Merkez “Kırsalda Kaliteli Eğitim Projesi”

           <br>  Sivas/ Gürün “Çocuk Atölyeleri ve Öğretmen Buluşmaları”

           <br>  İstanbul/ Beykoz “Çocuk Atölyeleri”

           <br>   Samsun/ Ayvacık "Çocuk Atölyeleri ve Öğretmen Buluşmaları”

           <br>   Kastamonu/ Cide "Çocuk Atölyeleri ve Öğretmen Buluşmaları”

           <br>  Muş/ Merkez "Çocuk Atölyeleri ve Öğretmen Buluşmaları”
         </p>












          <br><br><br>
        </div>
           </div>
<br>

  </section>






{% endblock %}
