{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}

{% block body %}



<section class="page-section">
        <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="hinty bluer h-size">İçerik Geliştirme</h2>
         <p class="monty bluer n-size">

             <br><br><label style="font-size:25px;"><b>neden?</b></label> Köy öğretmenleriyle yaptığımız çalışmalar sonucunda gördük ki öğretmenlerin, özellikle de mesleğe yeni başlayanların, köylerde öğretmenlik yaparken karşılaşacakları zorlukları ön görmeleri çoğunlukla mümkün olmuyor.
             <br><br><label style="font-size:25px;"><b>nasıl?</b></label> Köy öğretmenlerinin ihtiyaç duyabilecekleri konularda yararlanmaları için iki adet kaynak kitap hazırladık. Öğretmenlerin özellikle mesleğe yeni başlayanların kırsalda öğretmenlik yaparken her zaman başvurabilecekleri bir kaynak kitap olan Köy Öğretmeninin Başucu Kitabı ve birleştirilmiş sınıflarda farklı yaş gruplarına ait kazanımların disiplinler arası uygulamalarla çocuklara aktarılmasını sağlayan Birleştirilmiş Sınıflı Köy Okulları için Etkinlik Kitabı.
             <br><br><label style="font-size:25px;"><b>neler yapıyoruz?</b></label>  Sınıf öğretmenleri, branş öğretmenleri, sanat eğitmenleri, eğitim uzmanları, akademisyenler ve gönüllülerimiz ile bir araya geldiğimiz çalıştaylar düzenledik. Bu çalıştaylarda üretilen içeriklerin düzenlenmesi ve dokümante edilmesi ile kitaplarımızı hazırladık. Köy Öğretmeninin Başucu Kitabı’nda; öğretmenlerin köyde yaşam becerilerini artıracak, aile-köy-okul ilişkilerini sağlamlaştıracak, okula devamsızlıkları azaltacak, okula aidiyeti ve çocuklar arasındaki uyumu artıracak ipuçlarını hem öğretmen deneyimleri hem de uzman görüşleri yoluyla sunmaya çalıştık. Ayrıca öğretmenlere, kırsal kalkınmada öğretmenin rolü gibi konularda arka plan bilgisi sağladık.
Öğretmenlerin sınıf içi ve dışı uygulamalarını desteklemek adına hazırladığımız Birleştirilmiş Sınıflı Köy Okulları için Etkinlik Kitabı ile; ilköğretim MEB müfredatında yer alan ders kazanımlarının, birleştirilmiş sınıflarda disiplinler arası etkinlikler ile işlenmesine aracılık etmesini amaçladık. Kitabın giriş kısmında akran eğitimi, olumlu öğrenme, bütünsel eğitim gibi konuları da kapsayan teorik bilgiler yer alıyor. Kitabın ikinci bölümünde de farklı sınıfların kazanımlarına ve becerilere yönelik etkinlikler derslere göre ayrılıyor. Bu etkinliklerin içerisinde; çocukların sosyal becerilerini geliştirmek için destek alınabilecek rutinler, sınıf içi uygulamaların nasıl sürdürülebileceğine yönelik notlar ve sınıf yönetimine dair örnekler de bulunuyor.

Cümbür Cemaat Köy Şenliği:
Her yıl; köy halkı, çocuklar, KODA öğretmenleri ve gönüllüler ile birlikte bir köy şenliği düzenliyoruz. Geçtiğimiz yıl şenliklerimizi hem Diyarbakır-Çınar’da hem de Şanlıurfa-Harran’da büyük bir heyecanla ve tam bir imece usulüyle gerçekleştirdik. Bu şenliklerde neler yok ki… Çocukların öğretmenleri ile birlikte hazırladıkları gösterileri, erbane ritim atölyesi, makrome, resim atölyesi, açık hava oyunları ve tabii ki birlikteliğimizin verdiği coşkuyla yapılan hazırlık heyecanları, halaylarımız ve mutluluktan hiç yorgunluk hissetmediğimiz toparlanmalarımızla kalbimiz kıpır kıpır bir sonraki buluşmaya kadarki vedalarımız.


</p>
      </div>
      </div>

        </div>
  </section>




{% endblock %}
