{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}

{% block body %}

<section class="page-section">
    <div class="container">
         <div class="col-lg-12 text-center">
            <h2 style="font-family:Hind;color:#034080 !important;">Nasıl Destek Olabilirsiniz? </h2><br>
      <div class="row">
                   <p style="font-family:montserrat;color:#034080 !important;text-align:left;">

          <label style="font-size:25px;"><b>KODA ile İşbirliği Yapmak İstiyorum</b></label> <br>
                    Bu sayfada KODA ile işbirliğinde bulunabileceğiniz birkaç işbirliği modeline ulaşabilirsiniz. Bu modeller kapsamında bizlerle işbirliğinde bulunmak isterseniz ya da aklınıza gelen farklı işbirliği fikirleri olursa sizlerle iletişime geçmek isteriz. Aşağıdaki form kaydı üzerinden bizlere ulaşabilirsiniz.


                       <br><br>

                     <label style="font-size:25px;"><b>    1)Çalışanlarınıza hediyeniz; KODA hediye kartları olsun.</b></label> <br>
                       Şanlıurfa-Harran’daki köy okulu öğrencilerinin keyifle hazırladıkları hediye kartlarını, siz de kurum çalışanlarınıza bayramlarda, yeni yılda vb. özel günlerde tebrik/kutlama kartı armağan edebilirsiniz. İstediğiniz sayıda hediye kartını sizlere ulaştıralım; bu sayede çalışanlarınız hem özel günlerinde kurumlarından güzel bir armağan almış olsunlar, hem de dolaylı olarak bir STK’yı desteklemiş olmayı tatsınlar. Hediye kartın minimum maliyeti ise 50 TL’dir.


                       <br><br>

                       <label style="font-size:25px;"><b> 2)Kurum çalışanlarınızın bir STK’ya destek olmasına aracı olun.</b></label> <br>
                        Şalıurfa-Harran’daki köy okulu öğrencilerinin keyifle hazırladıkları hediye kartlarını, kurum

                            çalışanlarınıza duyurabilir ve her bir çalışanınızın bireysel olarak KODA’ya katkı sağlamalarına aracı olabilirsiniz.

                       <br><br>

                       <label style="font-size:25px;"><b>     3)Kurum çalışanlarınızın doğum gününü KODA’ya yapacağınız bağış ile kutlayabilirsiniz.</b></label> <br>
                           Kurum çalışanlarınız, başka bir iş arkadaşlarının doğum gününü kutlamak istediklerinde, KODA’yı desteklemek üzere bir dayanışma ağı oluşturabilirler.



               </p>
        </div>
         </div></div>
</section>

{% endblock %}