{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}

{% block body %}

<section class="page-section">
  <div class="container">
    <h4 class="text-center mb-5">Nasıl Destek Olabilirsiniz?</h4>
    <div class="mt-5">
      <div class="mb-3">
        <h5>KODA Gönüllüsü Olmak İstiyorum</h5>
        <div class="mt-3">
          KODA'nın kurulduğu günden bu yana bizlerle birlikte olan, bize gerek saha, gerekse ofis faaliyetlerimizde
          çokça desteği ve katkısı dokunmuş o kadar çok isim var ki… Onların desteğini her zaman yanımızda hissediyoruz
          ve bu bize çok daha fazla cesaret ve güç veriyor.
        </div>
        <div class="mt-3">
          2019-2020 yılı faaliyetlerimizde bize destek olmak üzere birlikte yol alacağımız gönüllülerimiz belli oldu.
          İlginize çok teşekkür ediyoruz.
        </div>
        <div class="mt-3">
          Bir sonraki yılın gereksinimlerini, 2020 Temmuz ayında yeniden değerlendirerek, bu sayfadan ve sosyal medya
          kanallarımızdan duyuracağız. O zamana kadar bilgilerinizin kayıt altında bulunmasını isterseniz aşağıdaki
          formu doldurabilirsiniz.
        </div>
      </div>
      <div class="mt-4 text-center">
        <b style="font-size: 18px;">Bize Katılmak İster Misiniz?<i class="fas fa-hand-point-right ml-2"
            style="color:#fab537;"></i></b>
        <a style="color:#034080;" class="font-weight-bold ml-2"
          href="https://docs.google.com/forms/d/e/1FAIpQLSetzMePJwlEmW8vdHDeJpXlIEF3iDhNI0CsaG8941yTBhQj-g/viewform">Genel
          Başvuru</a>
      </div>
    </div>
</section>

{% endblock %}