{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}

{% block body %}



<section class="page-section" style="line-height: 1.5;">
    <div class="container">
        <h4 class="text-center mb-4">Mentorluk Programı</h4>
        <div class="text-center mb-4">Birleştirilmiş sınıflı köy okullarında deneyimi olan öğretmenlerin diğer köy
            öğretmenlerini desteklediği bir programdır.
        </div>
        <div class="text-center mb-4">
            Süreç boyunca eğitimler ile (koçluk eğitimi, mentorlukeğitimi vb.) desteklenen mentorlar, mesleğinin
            ilk yıllarındaki köy öğretmenlerinin okullarını ayda bir kez ziyaret ediyorlar. Mentor öğretmen ders
            içinde ve sonrasında gerekli yönlendirme ve tavsiyelerde bulunarak deneyimlerini aktarıyor ve
            öğretmenin yaşadığı sorunlara öğretmenle birlikte çözümler arıyor.
        </div>
    </div>
</section>

{% endblock %}