{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}

{% block body %}



<section class="page-section">
        <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="h-size hinty bluer">Neler Yapmıyoruz ? </h2> <br><br>
         <p class="n-size monty bluer">

                Belirli bir eğitim projesi kapsamında olmadıkça: <br> <br>
                    • Çocukların ya da köyün malzeme ve giyim ihtiyaçlarını karşılamıyoruz. <br>
                    • Çocuklara farklı branşlarda bağımsız, tek seferlik atölyeler vermiyoruz. <br>
</p>
      </div>
      </div>

        </div>
  </section>




{% endblock %}
