{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}

{% block body %}
<section class="page-section">
        <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="hinty bluer h-size">Öğretmen Toplulukları</h2>
            <br><br>
         <p class="monty bluer n-size">

             <label style="font-size:25px;"><b>neden?</b></label> Nüfusu az olan köy okullarında bir veya iki öğretmen bulunuyor. Öğretmenlerin hem mesleki anlamda hem de kişisel ve sosyal anlamda paylaşımda bulunabilmeleri, meslektaşları ile etkileşim halinde kalmaları neredeyse imkansız hale geliyor. Bu durum, yıl boyunca öğretmenlerin motivasyonlarında önemli bir düşüşe yol açarken, farklı deneyimlerden beslenerek ilerlemelerine de engel oluyor. Köyde yaşamın getirdiği zorlukları aşmalarına destek olmak için yerel topluluklar oluşturmanın gerekli olduğunu düşünüyoruz.
             <br><br><label style="font-size:25px;"><b>nasıl?</b></label> Öğretmenlerin kendi aralarındaki dayanışmayı artırarak iletişim halinde kalabilecekleri, birbirlerinden öğrenme pratiklerinin çoğalacağı, ihtiyaç duydukları konularda eğitimler alarak gelişebilecekleri Öğretmen Toplulukları Programı’mızı yürütüyoruz. Bu programın uzun vadeli amaçları; okullarda ihtiyaç duyulan bir ya da birkaç konuda öğretmenlerle beraber projeler geliştirmek, uygulanan projelerin süreçlerini dokümante ederek Türkiye’deki diğer köy okullarına örnek olabilecek uygulamaları köy öğretmenleri ile paylaşmak ve sürdürülebilir bir öğretmen topluluğu modelinin geliştirilmesini sağlamak.
             <br><br><label style="font-size:25px;"><b>neler yapıyoruz?</b></label> Şanlıurfa-Harran ve Diyarbakır ilinde yer alan köy ilkokullarındaki öğretmenler ile ayda bir kez Öğretmen Buluşmaları düzenleyerek bir araya geliyoruz ve öğretmenlerin ihtiyaç duydukları öncelikli konularda eğitimler düzenliyoruz. Bu eğitimlerin içerikleri; zaman yönetimi, sınıf yönetimi, okula aidiyet, çocuk gelişimi ve öğrenme, öz farkındalık, köyde yaşam becerileri, hikaye anlatıcılığı, görsel sanatlar, oyun gibi hem öğrenme yöntemlerine yönelik konulardan hem de öğretmenlerin kişisel gelişimlerine katkı sunabilecek konulardan oluşuyor.
Yine aynı bölgelerde sınıf ziyaretleri, bire bir görüşmeler ve Çarşamba Akşamı Buluşmaları’ndan oluşan Mentorluk Desteği uygulamasını gerçekleştiriyoruz. Köy öğretmenlerinin bütüncül bir eğitim anlayışına yaklaşmaları için kendilerine yarayacağı düşünülen konularda, mentor öğretmenimiz tarafından öneriler sunularak destek veriliyor. Verilen önerilerin uygulanıp uygulanmadığına, uygulama sırasında sorunların yaşanıp yaşanmadığına ve gelişmelerin ne düzeyde olduğuna yönelik her ziyaret sonrası öğretmenler ile birebir görüşmeler yapılıyor.
Farklı bölgelerden öğretmenlerin de bir araya gelerek yeni bakış açıları edinmelerine katkıda bulunmak ve sosyalleşmelerine imkan sunabilmek için yılda bir kez, İstanbul’da Kış Kampı gerçekleştiriyoruz. Gönüllülerimizin de desteğiyle hem sosyal aktiviteler düzenliyor hem de şiddetsiz iletişim gibi ortak konularda atölye çalışmaları yapıyoruz.
             <br><br><label style="font-size:25px;"><b>sonuç:</b></label> Programın okul-aile-köy ilişkilerine olan katkısı çerçevesinde, öğretmenler ve öğrencilerin okula bağlılıkları güçlenirken, öğretmenlerin velilerle daha sık iletişim kurma çalışmaları hem öğrencilerin başarı oranlarına yansıdı hem de öğretmenlerin köy halkı ile olan ilişkilerini güçlendirdi.
İzleme-değerlendirme çalışmalarımız sonucunda, bir aile gibi olduğumuz öğretmenlerimizden aldığımız geri bildirimler, yürümekte olduğumuz yola olan inancımızı daha da arttırdı. Öğretmenlerimiz, dönem sonunda; farklı bakış açıları geliştirdiklerini, kendileri ve etraflarındaki birçok konuya yönelik farkındalıklarının arttığını, çocukların bireysel gereksinimlerinin artık daha fazla farkında olduklarını ve buna göre davrandıklarını, özgüvenlerinin geliştiğini, şiddetsiz bir iletişim ortamı kurabilmeyi öğrendiklerini, bir şeyleri başarma ve değiştirme konusunda daha motive olduklarını, sanatı günlük hayatlarına dahil etmeye ve kendilerini daha iyi ifade etmeye başladıklarını belirttiler.
             <br><br><i>‘’KODA'yla daha sosyal bir ortam gördüm. Harran'da sosyal yönden sürekli şikayet ediyorduk. Bu şikayetleri KODA'yla bir nebze azalttık.’’ (Şanlıurfa-Harran)
             <br>
             <br>
             <img src="{% static 'img/afacan_6.JPG' %}" style="width:50%; height:50%;">

             <br><br> ‘’İlk yılımda ilgisiz veli ve öğrencilerle karşılaşınca afalladım. Ama KODA ile aklımdaki soru işaretlerinin cevabını buldum. Mesela, sınıf yönetimi ya da dersi daha eğlenceli nasıl işleyebileceğim konularının KODA sayesinde üstesinden geldim.’’ (Şanlıurfa-Harran)<br>
             <br><img src="{% static 'img/1_harran_9.JPG' %}" style="width:50%; height:50%;margin-right:50%;">

             <br><br>‘’Dıştan bir gözün bizi gözlemleyip neyi yanlış neyi doğru yaptığımızı söylemesi mesleki açıdan fayda sağlıyor.’’ (Şanlıurfa-Harran)
             <br>
             <br><img src="{% static 'img/1_harran_8.JPG' %}" style="width:50%; height:50%;">

             <br><br>“Bu süreçten önce öğrencilerin duygusal ve zihinsel seviyelerinin tam farkına varıp eğitim sürecini ona göre düzenlemekte eksiklikler yaşıyormuşum. Bu seneki mentorluk sürecinden sonra daha ihtiyaca uygun ve etkili noktaları yakaladım. Bu da hem öğrencilere hem bana hem de sınıf iklimine yansıdı.” (Şanlıurfa-Harran)
             <br><img src="{% static 'img/d_66.JPG' %}" style="width:50%; height:50%;margin-right:50%;">

             <br><br>“Mentor öğretmen masal anlatımı ve tekerleme öğretimi konusunda bende büyük farkındalık oluşmasını sağladı. Artık her gün masal saati yapıyor, her hafta bir tekerlemeyi keyifle öğreniyoruz. Ayrıca her sabah yaptığımız çemberle matematik öğreniyor, müzik dinliyor, ritim yapıyor oyun oynayarak öğrenmenin hazzına varıyoruz. Öğrencilerin aktif olduğu bir eğitim ortamı beni de mesleğime daha çok bağlıyor.” (Diyarbakır-Çınar)
             <br><img src="{% static 'img/d_13.JPG' %}" style="width:50%; height:50%;">

             <br><br>“Öğrencilerim değerli olduklarını hissettiler ve ben de dahil masalların, mitoloji ve efsanenin mucizesine inanmaya başladık. Anlattıkça, dinledikçe büyük değişimler oldu çocuklarda.” (Şanlıurfa-Harran)</i>
             <br><img src="{% static 'img/d_70.JPG' %}" style="width:50%; height:50%;margin-right:50%;">




         </p>
            <br><br><h3 class="hinty bluer h-size">Cümbür Cemaat Köy Şenliği</h3>
                <p class="monty bluer n-size"> Her yıl; köy halkı, çocuklar, KODA öğretmenleri ve gönüllüler ile birlikte bir köy şenliği düzenliyoruz. Geçtiğimiz yıl şenliklerimizi hem Diyarbakır-Çınar’da hem de Şanlıurfa- Harran’da büyük bir heyecanla ve tam bir imece usulüyle şenliklerimizi gerçekleştirdik. Bu şenliklerde neler yok ki… Çocukların öğretmenleri ile birlikte hazırladıkları gösterileri, erbane ritim atölyesi, makrome, resim atölyesi, açık hava oyunları ve tabii ki birlikteliğimizin verdiği coşkuyla yapılan hazırlık heyecanları, halaylarımız ve mutluluktan hiç yorgunluk hissetmediğimiz toparlanmalarımızla kalbimiz kıpır kıpır bir sonraki buluşmaya kadarki vedalarımız.


                    <p/><p><img src="{% static 'img/IMG_1820.JPG' %}" style="width:50%; height:50%;">
                    <p/><p><img src="{% static 'img/IMG_1619.JPG' %}" style="width:50%; height:50%;"><br>
                    <p/><p><img src="{% static 'img/IMG_20190419_135032.jpg' %}" style="width:50%; height:50%;">
                </p>
        </div>


      </div>

        </div>
  </section>


{% endblock %}
