{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}

{% block body %}

<section class="page-section">
    <div class="container">
         <div class="col-lg-12 text-center">
            <h2 style="font-family:Hind;color:#034080 !important;">Nasıl Destek Olabilirsiniz? </h2><br>
      <div class="row">
                   <p style="font-family:montserrat;color:#034080 !important;text-align:left;">

          <label style="font-size:25px;"><b>KODA’ya Sponsor Olmak İstiyorum</b></label> <br>
                    KODA’nın bu yılki faaliyetleri olan;
                        Öğretmen Toplulukları, Çocuk Atölyeleri ve İçerik Geliştirme programları kapsamında yürüttüğümüz alt çalışmalar bulunuyor. Faaliyetlerimizin detaylarına linkten ulaşabilirsiniz.
                       <br>
                       <a href="{% url 'koy_ogretmenleri' %}" style="color:#034080;">https://www.kodegisim.org/koy-ogretmen-proje</a>


                       <br><br>

                     <label style="font-size:25px;"><b>1)Öğretmen Toplulukları programı kapsamında:</b></label> <br>
                        Banka kartınızla tek seferlik veya düzenli bağış yapmak isterseniz, ödemelerinizi
                       -Öğretmen Yaz Kampı <br>
                       -Diyarbakır-Çınar Köy Şenliği <br>
                       -Şanlıurfa-Harran Köy Şenliği aktivitelerimizde yer alan;<br>
                       Uçak bileti <br>
                       Konaklama <br>
                       Yemek <br>
                       Basım gibi kalemlerin bütçesine destek olabilirsiniz <br>
                       <br><br>
                       <label style="font-size:25px;"><b>2)Çocuk Atölyeleri programı kapsamında:</b></label> <br>

                       -Çocuk Atölyeleri Yaz Kampı <br>
                       -Çocuk Atölyeleri Kış Kampı aktivitelerimizde yer alan; <br>
                       Uçak bileti <br>
                       Konaklama <br>
                       Yemek <br>
                       Video kurgu <br>
                       Basım gibi kalemlerin bütçesine destek olabilirsiniz. <br>



               </p>
        </div>

{% endblock %}