{% extends 'base.html' %}
{% load static %}
{% block head %}
<style>
  div{
    font-size: 16px;
    font-weight: 500;
  }
</style>
{% endblock %}

{% block body %}

<div class="container">
  <div class="d-flex bd-highlight  align-items-center">
    <div class="p-2 flex-shrink-1 bd-highlight"> <img src="{% static 'img/s1.png' %}"
        style="width:200px; height:200px;">
    </div>
    <div class="p-2 w-100 bd-highlight"> Köy öğretmenlerini kişisel ve mesleki açıdan güçlendirmek.</div>
  </div>
  <div class="d-flex bd-highlight  align-items-center">

    <div class="p-2 w-100 bd-highlight text-right"> Köy öğretmenlerini kişisel ve mesleki açıdan güçlendirmek.</div>
    <div class="p-2 flex-shrink-1 bd-highlight"> <img src="{% static 'img/s2.png' %}"
        style="width:200px; height:200px;">
    </div>
  </div>
  <div class="d-flex bd-highlight  align-items-center">
    <div class="p-2 flex-shrink-1 bd-highlight"> <img src="{% static 'img/s3.png' %}"
        style="width:200px; height:200px;">
    </div>
    <div class="p-2 w-100 bd-highlight"> Köylerdeki fırsatları değerlendirerek ve sorunları görmezden gelmeden; köy
      okullarındaki eğitimin kalitesini artıracak çocuk merkezli, yenilikçi örnek uygulamaları ortaya çıkarmak ve
      yaygınlaştırmak.</div>
  </div>
</div>



{% endblock %}