{% extends 'base.html' %}
{% load static %}

{% block head %}
{% endblock %}

{% block body %}

<section class="bg-light" id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading hinty h-size" style="text-align:center !important;">KODA Ekibi</h2>
        </div>
      </div>
      <center style="margin-top:50px;"><h3 class="section-subheading text-muted monty n-size" style="text-align:center !important;">Ekibimiz </h3></center>
 <div class="row">
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="{% static 'img/personal.png' %}" alt="">
            <h4 class="minty h-size">Mine Ekinci</h4>
            <p class="text-muted monty n-size" style="text-align:center !important;">Genel Koordinatör</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="{% static 'img/personal.png' %}" alt="">
            <h4 class="minty h-size">Esra Yıldırmış </h4>
            <p class="text-muted monty n-size" style="text-align:center !important;">Öğretmen Toplulukları Proje Koordinatörü</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="{% static 'img/personal.png' %}" alt="">
            <h4 class="minty h-size">Menekşe Canatan</h4>
            <p class="text-muted monty n-size" style="text-align:center !important;">İletişim Koordinatörü</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>

        </div>
      </div>
       <div class="row">
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="{% static 'img/personal.png' %}" alt="">
            <h4 class="minty h-size">Gökçen Karaman</h4>
            <p class="text-muted monty n-size" style="text-align:center !important;">Çocuk Atölyeleri Proje Koordinatörü</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
          <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="{% static 'img/personal.png' %}" alt="">
            <h4 class="minty h-size">Duygu Aşık</h4>
            <p class="text-muted monty n-size" style="text-align:center !important;">BSMG* Proje Koordinatörü</p>
              <p class="text-muted monty n-size" style="text-align:center !important;">*Birleştirilmiş Sınıflarda Görev Alan Köy Öğretmenlerinin Mesleki Gelişim Programı</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="{% static 'img/personal.png' %}" alt="">
            <h4 class="minty h-size">Arzu Şahin</h4>
            <p class="text-muted monty n-size" style="text-align:center !important;">İzleme ve Değerlendirme Uzmanı</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
            <center style="margin-top:50px;"><h3 class="section-subheading text-muted monty n-size" style="text-align:center !important;">Yönetim Kurulu Üyeleri </h3></center>

      <div class="row">

        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="{% static 'img/personal.png' %}" alt="">
            <h4 class="minty h-size">Ali Sinan Kurmuş</h4>
            <p class="text-muted monty n-size" style="text-align:center !important;">Yönetim Kurulu Başkanı</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="{% static 'img/personal.png' %}" alt="">
            <h4 class="minty h-size">Ömer Özkan </h4>
            <p class="text-muted monty n-size" style="text-align:center !important;">Yönetim Kurulu Başkan Yardımcısı</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="{% static 'img/personal.png' %}" alt="">
            <h4 class="minty h-size">Gökçe Zeynep Kurmuş</h4>
            <p class="text-muted monty n-size" style="text-align:center !important;">Genel Sekreter</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
          <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="{% static 'img/personal.png' %}" alt="">
            <h4 class="minty h-size">Selim HASAN</h4>
            <p class="text-muted monty n-size" style="text-align:center !important;">Sayman</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="{% static 'img/personal.png' %}" alt="">
            <h4 class="minty h-size">M. Karhan Karlı</h4>
            <p class="text-muted monty n-size" style="text-align:center !important;">Asil Üye</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="{% static 'img/personal.png' %}" alt="">
            <h4 class="minty h-size">Derya Tombuloğlu</h4>
            <p class="text-muted monty n-size" style="text-align:center !important;">Asil Üye</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <center style="margin-top:50px;"><h3 class="section-subheading text-muted" style="">Denetim Kurulu Üyeleri </h3></center>
          <div class="row">
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="{% static 'img/personal.png' %}" alt="">
            <h4 class="minty h-size">Ali Yalman</h4>
            <p class="text-muted monty n-size" style="text-align:center !important;">Denetim Kurulu Başkanı</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="{% static 'img/personal.png' %}" alt="">
            <h4 class="minty h-size">İbrahim Betil </h4>
            <p class="text-muted monty n-size" style="text-align:center !important;">Asil Üye</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="{% static 'img/personal.png' %}" alt="">
            <h4 class="minty h-size">M. Zekeriya Ürüm</h4>
            <p class="text-muted monty n-size" style="text-align:center !important;">Asil Üye</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-12 text-center">
          <h2 class="section-heading hinty h-size">İş Birliklerimiz</h2>
      </div>
      <div class="row">
      <div class="col-lg-4">
      <div data-packed="true" style="width: 312px; pointer-events: none;" class="txtNew" id="comp-jeka3fna"><ul class="font_8" style="font-family:wfont_7314dd_b3cbf688a2a74bcb8e6eba2417aa7a45,wf_b3cbf688a2a74bcb8e6eba241,orig_hind_light; font-size:20px;">
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">AÇEV (Anne Çocuk Eğitim Vakfı) </p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">Açık Açık Platformu</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">Adana Final Okulları</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">Alfa Tıbbi Cihazlar Pazarlama ve Ticaret Limited Şti.</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">And Gayrimenkul</p>
	</li>
	<li>
      <p class="font_8 monty n-size" style="font-size:20px;">Ashoka</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">Atölye Çocuk Evi</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">Aydın Doğan Vakfı</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">Aygenteks</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">Başka Bir Okul Mümkün</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">Bi’ Dünya Umut</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">Bilgi Kozası Anaokulu</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">Bilgi Üniversitesi Sosyal Kuluçka Merkezi</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">Boyner</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">Bursa İş Kadınları ve Yöneticileri Derneği</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">Çatı Atölye</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">CEF Consultant Educatif Francophone</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">Çocuklar İçin Felsefe</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">Dalyan Vakfı</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">Dalyan Vakfı</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">Denge Kimya &amp; Tekstil</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">Deniz-İş İlkokulu</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">DHL Worldwide Express Taşımacılık</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">Eğitim Reformu Girişimi</p>
	</li>


</ul></div>
      </div>
      <div class="col-lg-4">
      <div data-packed="true" style="width: 312px; pointer-events: none;" class="txtNew" id="comp-jeka3fna"><ul class="font_8" style="font-family:wfont_7314dd_b3cbf688a2a74bcb8e6eba2417aa7a45,wf_b3cbf688a2a74bcb8e6eba241,orig_hind_light; font-size:20px;">
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">Fide Okulları</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">Açık Açık Platformu&nbsp;</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">Gençtur</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">Habita</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">Happy Moons-Watergarden</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">HIM-Herkes için Mimarlık</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">İlimkent Okulları</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">Impact Hub</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">International Organization Development Association (IODA) Türkiye</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">İyi ki Üsküdar Var!</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">İzmir Ege Üniversitesi

	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">Dicle Üniversitesi</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">Muş Alparslan Üniversitesi</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">Ondokuz Mayıs Üniversitesi</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">Kadıköy Impro</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">Kale Grubu</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">Kare Aydınlatma</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">Kartal Belediyesi</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">Kent ve Çocuk Atölyesi</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">Muş Alparslan Üniversitesi (2018-2019)</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">Narköy</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">Öğretmen Ağı</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">Özel ALEV Okulları</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">Sabancı Vakfı​</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">YADA-Yaşama Dair Vakıf</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">Samsun 19 Mayıs Üniversitesi (2018-2019)</p>
	</li>
</ul></div>
      </div>
       <div class="col-lg-4">
      <div data-packed="true" style="width: 312px; pointer-events: none;" class="txtNew" id="comp-jeka3fna"><ul class="font_8" style="font-family:wfont_7314dd_b3cbf688a2a74bcb8e6eba2417aa7a45,wf_b3cbf688a2a74bcb8e6eba241,orig_hind_light; font-size:20px;">
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">Şiddetsizlik Merkezi</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">Sivil Düşün</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">T.C Çınar İlçe Milli Eğitim Müdürlüğü (2018-2019)</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">T.C Harran İlçe Milli Eğitim Müdürlüğü (2017-2018/2018-2019</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">T.C Harran Kaymakamlığı (2017-2018/2018-2019)</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">T.C. İstanbul Beykoz İlçe Milli Eğitim Müdürlüğü (2017-2018)</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">T.C. İzmir Menemen Milli Eğitim Müdürlüğü (2016-2017)</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">T.C. Kastamonu Cide İlçe Milli Eğitim Müdürlüğü (2016-2017)</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">T.C. Muş İl Milli Eğitim Müdürlüğü</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">T.C. Samsun Ayvacık İlçe Milli Eğitim Müdürlüğü (2016-2017)</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">T.C. Samsun Terme İlçe Milli Eğitim Müdürlüğü (2017-2018)</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">T.C. Sivas Gürün İlçe Milli Eğitim Müdürlüğü (2017-2018)</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">Tarlamvar</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">Türk Hava Yolları</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">Vehbi Koç Vakfı</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">Yalova Gökçe Tekstil</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">YEDA İnşaat</p>
	</li>
	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">Yenilikçi Öğrenme Okulları (YÖM)</p>
	</li>
        	<li>
	<p class="font_8 monty n-size" style="font-size:20px;">Eğitmen Panda</p>
	</li>
                <li>
	<p class="font_8 monty n-size" style="font-size:20px;">Enterkon Enternasyonel Organizasyon Müşavirlik</p>
	</li>
</ul></div>
       </div>

  </section>
{% endblock %}
